<template>
  <header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button" @click="mobileSidebarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <b-link class="navbar-brand" to="#"></b-link>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" @click="sidebarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <b-navbar-nav class="d-md-down-none">
      <b-nav-item class="px-3">
     <nuxt-link to="/">Dashboard</nuxt-link>
      </b-nav-item>
      <b-nav-item class="px-3">
     <nuxt-link to="/asset">Asset</nuxt-link>
      </b-nav-item>
       <nuxt-link to="/user">User</nuxt-link>
    </b-navbar-nav> -->
    
    <b-navbar-nav class="ml-auto">
      {{profile.email}}
      <HeaderDropdown/>
    </b-navbar-nav>
    <!-- <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" @click="asideToggle"> -->
      <!-- <span class="navbar-toggler-icon"></span> -->
    <!-- </button> -->
  </header>
</template>

<script>
  import HeaderDropdown from './HeaderDropdown.vue'

  export default {
    name: 'c-header',
    data(){
      return {
        profile:this.$store.state.profile, 
      }
    },
    components: {
      HeaderDropdown
    },
    methods: {
      sidebarToggle (e) {
        e.preventDefault()
        document.body.classList.toggle('sidebar-hidden')
      },
      sidebarMinimize (e) {
        e.preventDefault()
        document.body.classList.toggle('sidebar-minimized')
      },
      mobileSidebarToggle (e) {
        e.preventDefault()
        document.body.classList.toggle('sidebar-mobile-show')
      },
      asideToggle (e) {
        e.preventDefault()
        document.body.classList.toggle('aside-menu-hidden')
      }
    }
  }
</script>
