<template>
    <div class="animated fadeIn">
    <b-row>
      <h2>Booking</h2>
    </b-row>

  <!-- load component form input asset  -->
  <br>
  
  <!-- load data table -->
   <b-container fluid>
    <!-- User Interface controls -->
  <!-- <b-row>  -->
    <b-button-group> 
      <nuxt-link to="/booking/assetbook"> 
                <b-button  v-b-tooltip.hover title="จองอุปกรณ์โดยเลือกอุปกรณ์" variant="primary" >Book Asset by Asset</b-button>
      </nuxt-link>
    </b-button-group>
  
      <b-button-group> 
        <nuxt-link to="/booking/book">        
                <b-button  v-b-tooltip.hover title="จองอุปกรณ์โดยระบุวันค้นหา" variant="success" >Book Asset by Date</b-button>
      </nuxt-link>
      </b-button-group>
  <!-- </b-row> -->
  <b-row>
      <b-col md="4" class="my-1">
        <br>
        <b-form-group horizontal label="Filter" class="mb-0">
          <b-input-group>
            <b-form-input  v-model="filter" placeholder="Search" />
            <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="4" class="my-1">
        <b-form-group horizontal label="Per page" class="mb-0">
          <b-form-select :options="pageOptions" v-model="perPage" />
        </b-form-group>
      </b-col>

      <b-col md="4" class="my-1">
        <b-form-group horizontal label="Categorie" class="mb-0">
          <b-input-group>
            <b-form-select  v-model="search_by_categorie">
              <option :value="''">Select Asset Categorie</option>
              <option v-for="categorie in categorie" :key="categorie.id">
                {{ categorie.text }}
              </option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>
      
    </b-row>

      <b-table hover   
      :fields="fieldtable"
      :items="tableFilter"
      :filter="filter"
      @filtered="onFiltered"
      :current-page="currentPage"
      :per-page="perPage"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc" 
      >
      <template slot="asset_no" slot-scope="row">
         {{row.item.asset.asset_no}}
        </template>

         <template slot="asset_name" slot-scope="row">
        {{row.item.asset.asset_name}}
        </template>

         <template slot="user_name" slot-scope="row">
        {{row.item.user.name}}
        </template>

        <template slot="email" slot-scope="row">
        {{row.item.user.email}}
        </template>

        <template slot="status" slot-scope="row">
             <p v-if="row.item.status  == 1">
              <strong>Booking</strong>
            </p>
            <p v-else-if="row.item.status  == 2"> 
              <b-button-group>             
                <b-button  v-b-tooltip.hover title="ขยายเวลาการจองอุปกรณ์" variant="success" @click="showModalExtend(row.item.asset_id,row.item.id)">Extend Booking</b-button>
              </b-button-group>
            </p> 
             <p v-else-if="row.item.status  == 3">
              Booked
            </p>
             <p v-else-if="row.item.status  == 4"> 

              <b-button-group>   
                <div v-if="profile.user_type == 'admin'">
                   <b-button    v-b-tooltip.hover title="รับคืนอุปกรณ์" variant="primary" @click="receiveBookAsset(row.item.id)">
                  Receive Booking
                  </b-button>
                </div>  
                <div v-else>
                  Booking has expired
                </div>      
              </b-button-group>
            </p> 
        </template>
        
         <!-- <template slot="rigister" slot-scope="row"> -->
          <!-- <b-button-group>
              <div v-if="row.item.asset_status == true">
                <b-button variant="danger"  @click="checkoutAsset(row.item.id)" v-b-tooltip.hover  title="ยกเลิกการใช้งาน">Checkout</b-button>       
              </div>
              <div v-else> 
                <b-button variant="success" @click="showModelRegisAsset(row.item.id)" v-b-tooltip.hover title="ใช้งานอุปกรณ์นี้">Checkin </b-button>
              </div>     
          </b-button-group> -->
         <!-- </template> -->

        <template slot="crud" slot-scope="row">
          <b-button-group>             
                <b-button  v-b-tooltip.hover title="รายละอียดอุปกรณ์" variant="success" @click="showModalView(row.item.asset_id)">View</b-button>
          </b-button-group>
          <b-button-group>             
                <b-button  v-b-tooltip.hover title="ยกเลิกการจองอุปกรณ์" variant="danger" @click="cancelBookAsset(row.item.id)">Cancel</b-button>
          </b-button-group>
         </template>
    </b-table>

        <b-row>
          <b-col md="6">
            <b-pagination align="left" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
          </b-col>
          <b-col md="6">
             <p align="right">
                Sorting By: <b>{{ sortBy }}</b>,
                Sort Direction: <b>{{ sortDesc ? 'Descending' : 'Ascending' }}</b>
            </p>
          </b-col>
        </b-row>
  </b-container>

  <!-- load component show modal -->
    <!-- <modelRegisAsset :categorie="categorie" :department="department" :config="config" :users="users" ref="regisAsset"/> -->
    <!-- <modelEditForm :categorie="categorie" :department="department" :config="config" ref="formEdit"/> -->
    
    <modelExtend  ref="extend"/>
    <modelView :categorie="categorie" :department="department" :config="config" ref="view"/>
  </div>
</template>


<script>
import Vue from 'vue';
import { Callout } from '~/components/'
// import formInput from './formInput'
// import modelEditForm from './modelEditForm'
import modelView from './modelView'
import modelExtend from './modelExtend'

// import modelRegisAsset from './modelRegisAsset'
import axios from 'axios'  
const Cookie = process.client ? require('js-cookie') : undefined

export default {
   middleware: 'authenticated',
    data () {
        return {
          asset_list:[],
          categorie:this.$store.state.categorie,
          department:this.$store.state.department,
          users:this.$store.state.list_user,
          cpu:[],
          fieldtable: {
              id : {
                label: '#',
                sortable: true,
              },
              asset_no: {
                label: 'Asset No.',
                sortable: true
              },
              asset_name: {
                label: 'Asset Name',
                sortable: true
              },
              user_name: {
                label: 'Users Name',
              },
              email : {
                label: 'Email',
              },
              status : {
                label: 'Status',
                sortable: true
              },
              book_date : {
                label: 'Book Start',
              },
              book_end_date : {
                label: 'Book End',
              },
               crud : {
                label: ' ',
              },
            },
          items:[],
          sortBy: 'book_end_date',
          token:'',
          sortDesc: true,
          filter: null,
          currentPage: 1,
          perPage: 10,
          totalRows: '',
          pageOptions: [ 5, 10, 15 ],
          config:[],
          search_by_name:'',
          search_by_categorie:'',
          profile:this.$store.state.profile ,
        }
      },

    created(){
            this.configApi();
            this.loadDataAssetTable();
        }, 
        
    components: {
        // formInput,
        modelExtend,
        modelView
        // modelRegisAsset
      },


    computed: {
        booking () {         
          return this.$store.state.booking        
        },
       tableFilter() {
          if (this.items) {
            return this.items.filter((item) => 
             item.categorie.includes(this.search_by_categorie)
             );
          }
        }
      },

    watch:{ 
        booking:function(){   
            this.loadDataAssetTable(); 
        }
    },

    methods: {


      configApi (){
        // console.log(this.$store.state);
      },

      onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      // if(filteredItems){
        this.totalRows = filteredItems.length
      this.currentPage = 1
      // }
      },

      loadDataAssetTable() {
          this.items = this.$store.state.booking;     
          console.log(this.items);
          this.onFiltered(this.items)   
      },

      async refresh(){
            const data  = await this.$axios.$get('/booking' + this.$store.state.auth )
            .catch(error => { console.log(error.response)});

                   const asset  = await this.$axios.$get('/asset' + this.$store.state.auth )
            .catch(error => { 
              console.log(error.response)
              Cookie.remove('auth');
              location.reload()});

            this.$store.commit('setSeasons', asset)
            this.$store.commit('setAssetBooking', data)
        },

    //   showModalEdit (id) {
    //         this.$refs.formEdit.Modal(id)
    //     },

      showModalView (id) {
            this.$refs.view.ModalView(id)
        },

        showModalExtend (id,bookid){
          this.$refs.extend.modelExtend(id,bookid)
        },
        
      async cancelBookAsset(id){
        try{
          const data = await this.$axios.$get('/booking/cancel/'+ id + this.$store.state.auth)
          .catch(error => {console.log(error.response)
          this.$toast.error(error)
          });
          if(data != null){
            this.$toast.success('Successfully Cancel Asset ' + id)
          }
          
          this.refresh()
        }
        catch(error){
          this.$toast.error('Fail Cancel Asset ' + error)
        }
      },

      async receiveBookAsset(id){
        try{
          const data = await this.$axios.$get('/booking/book/receive/'+ id + this.$store.state.auth)
          .catch(error => {console.log(error.response)});
          this.$toast.success('Successfully Cancel Asset ' + id)
          this.refresh()
        }
        catch(error){
          this.$toast.error('Fail Cancel Asset ' + error)
        }
      },

   
      },
}
</script>