<template>

   <b-modal size="lg" ref="myModalRef" title="Booking Asset" hide-footer>
      <b-container fluid class="bv-example-row" v-if="showinfo == false">
         
            <no-ssr>
                <full-calendar 
                :events="events" 
                :header="calendar.header" 
                :config="calendar.config" 
                ref="calendar">
                </full-calendar>
            </no-ssr>
           
        <br><br>
        <h5> Select Date Book : {{bookInfo.book_date}}   <i class="fa fa-arrows-h fa-lg mt-4"/>   <no-ssr>
              <date-picker v-model="dateSelect"  
              lang="en"  
              type="date"
              format="YYYY-MM-DD"
              :disabled-days="disabledDate"
              :not-before="new Date()"
              confirm
               ></date-picker>
          </no-ssr> 
          </h5>
        <!-- <b-form-group horizontal label="Select Date Book"> -->
         
          <!-- </b-form-group> -->
      </b-container>

      <b-container fluid class="bv-example-row" v-if="showinfo == true">
        <b-row>
          <b-col>
            <b-container class="bv-example-row">
             <b-row>       
                <b-col> 
                    <b-row>
                        <b-col align="center">
                            <h3> <strong> Extend Booking</strong> </h3> 
                            <h3> {{ bookInfo.book_date }} <i class="fa fa-arrows-h fa-lg mt-4"></i>  {{bookInfo.book_end_date}}</h3>
                            <h3>TO</h3>
                            <h3> {{ bookInfo.book_date }} <i class="fa fa-arrows-h fa-lg mt-4"></i>  {{date.dateAfter}}</h3> 
                            <br> 
                            <br>
                         </b-col>
                    </b-row>
                     <b-row >
                          <b-col>
                              <p><strong> User Name:</strong> {{ bookInfo.user.firstname }} {{ bookInfo.user.lastname }}   </p> 
                              <p><strong> Asset No.:</strong> {{ asset_list.asset_no }}  </p> 
                              <p><strong> Asset Year:</strong> {{ asset_list.asset_year }}  </p> 
                              <p><strong> Asset Categorie :</strong> {{ categorie.text }} </p> 
                              <p><strong> Asset Name:</strong>  {{ asset_list.asset_name }} </p>                                              
                          </b-col>
                          <b-col>
                            <p><strong> User Email:</strong> {{ bookInfo.user.email }} </p>   
                            <p><strong> Serial No. :</strong>  {{ asset_list.serial_no }} </p>
                            <p><strong> Part No. :</strong> {{ asset_list.part_no }} </p>  
                            <p><strong> Status :</strong> Available</p> 
                            <p><strong>Department :</strong>{{ department.text }} </p>   
                          </b-col>
                      </b-row>
                       <b-row >
                          <b-col>
                              <p> <strong>Description</strong></p> 
                              <p>  {{ asset_list.desc }} </p>                                               
                          </b-col>
                      </b-row>
                         <b-row >
                          <b-col>
                              <p> <strong>Comment</strong></p> 
                              <p>  {{ asset_list.comment }} </p>                                               
                          </b-col>
                      </b-row>
                </b-col>
                     </b-row>
                     <b-row >
            </b-row>
                 </b-container> 
          </b-col> 
        </b-row>
    </b-container>
    <b-btn v-if="showinfo == true" class="mt-3" variant="success" block @click="BookAsset()">Book Asset</b-btn>
    <b-btn v-else class="mt-3" variant="success" block @click="seachDate()">Next</b-btn>
    <b-btn class="mt-3" variant="danger" block @click="hideModal">Close Me</b-btn>
  </b-modal>

</template>


<script>
import axios from 'axios'

import 'fullcalendar/dist/fullcalendar.css'

const queryString = require('query-string')
export default {
  props: ['dateBefore','dateAfter'],
  name: 'View',
   data () {
    return {
       asset_id : null,
       date:{
           dateBefore:null,
           dateAfter:null
       },
       dateSelect:null,
       asset_list:[],
       department:[],
       categorie:[],
       users:this.$store.state.list_user,
       userId:null,
       DataBooking:[],
       showinfo:false,
       events: [],
       calendar:{
           config:{
               defaultView: 'month',
           },
           header:{
               left:   'title',
               center: '',
               right:  'today prev,next'
           },
       },
       disabledDate:[],
       bookInfo:[],

    }
  },
 
  methods: {
    async modelExtend (id,bookid) {
        const AssetData = await this.$axios.$get('/booking/checkAsset/'+ id + this.$store.state.auth)
        .catch(error => { console.log(error.response)});
        console.log(AssetData);
        
        this.asset_id = id
        this.events = AssetData.event
        this.disabledDate = AssetData.datelist
        this.seachBook(bookid)
        this.$refs.myModalRef.show()      
      },
      
      async seachBook(bookid){
        const bookData = await this.$axios.$get('/booking/book/'+ bookid + this.$store.state.auth)
        .catch(error => { console.log(error.response)});
        this.bookInfo = bookData
      },

      async seachDate(){
       try{
         var rightNow = this.dateSelect
         var id = this.asset_id
          if(rightNow != null){
            this.selectButton = false 
            
            var dateBuild = new Date(this.bookInfo.book_end_date)

            var dateBefor =  this.DatetoString(dateBuild)
            var dayAfter = this.DatetoString(rightNow)

            this.date.dateAfter = dayAfter
        
            const assetSeach = await this.$axios.$get('/booking/checkDateSelect/'+ id + '/' + dateBefor +'/' + dayAfter + this.$store.state.auth )
                  .catch(error => {
                      console.log(error.response)
            });
            if(assetSeach){
              this.$toast.error('You have selected overlap dates')
            }
            else{
              this.$toast.success('Successfully Seach Asset ' + this.bookInfo.book_date + ' - ' + dayAfter )
              this.showinfo = true
              this.showinfoAsset();
            }
            this.dateSelect = null     
          }
          else{
            this.$toast.error('Please Select Date Book')
          }
        }
       catch (error){  
          this.$toast.error(error)
        }  
      },
      
     DatetoString(dateB){
         dateB.setDate(dateB.getDate()+1)
          var date = dateB.toISOString().substring(0, 10)
          return date
     },
     async showinfoAsset(){

         const AssetData = await this.$axios.$get('/asset/'+ this.asset_id + this.$store.state.auth)
        .catch(error => { console.log(error.response)});
        this.asset_list = AssetData.Asset_users[0]
        this.department = AssetData.Asset_users[0].department
        this.categorie = AssetData.Asset_users[0].asset_categorie
     },

      async BookAsset(){
          try{
              await this.$axios.$get('/booking/extend/' + this.bookInfo.id + '/' + this.date.dateAfter + this.$store.state.auth) 
               .catch(error => { 
              this.$toast.error(error)
            });
            this.refresh()
            this.$toast.success('Booking Success')
            this.hideModal()
          }
          catch(error){
               this.$toast.error(error)
          } 
      },
      
      async refresh(){
           const booking  = await this.$axios.$get('/booking' , this.$store.state.auth)
                    .catch(error => { 
                    console.log(error.response)}); 

                    const asset  = await this.$axios.$get('/asset' + this.$store.state.auth )
            .catch(error => { 
              console.log(error.response)
              Cookie.remove('auth');
              location.reload()});

            this.$store.commit('setSeasons', asset)

            commit('setAssetBooking',booking)   
      },

      hideModal () {
      this.showinfo = false
      this.$refs.myModalRef.hide()
      }
  }

}
</script>