<template>

   <b-modal size="lg" ref="myModalRef" title="View Asset" hide-footer  @hidden="hideModal">
      <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
      <b-container fluid class="bv-example-row">
        <b-row>
            <b-col>
            <h2>Asset Number #{{asset_list.asset_no}}</h2>
            <br><br>
            </b-col>  
        </b-row>
        <b-row>
          <b-col>
            <b-container class="bv-example-row">
             <b-row>       
                <b-col cols="4"> 
                  <b-img rounded="circle" blank width="150" height="150" blank-color="#777" alt="img" class="m-1" />
                </b-col>
                <b-col> 
                     <b-row >
                          <b-col>
                              <p><strong> Asset No.:</strong> {{ asset_list.asset_no }}  </p> 
                              <p><strong> Asset Year:</strong> {{ asset_list.asset_year }}  </p> 
                              <p><strong> Asset Categorie :</strong> {{ categorie.text }} </p> 
                              <p><strong> Asset Name:</strong>  {{ asset_list.asset_name }} </p>                                              
                          </b-col>
                          <b-col>
                     
                            <p><strong> Serial No. :</strong>  {{ asset_list.serial_no }} </p>
                            <p><strong> Part No. :</strong> {{ asset_list.part_no }} </p>  
                            <p><strong> Status :</strong> {{ statusAsset.name }}</p> 
                            <p><strong>Department :</strong>{{ department.text }} </p>   
                          </b-col>
                      </b-row>
                       <b-row >
                          <b-col>
                              <p> <strong>Description</strong></p> 
                              <p>  {{ asset_list.desc }} </p>                                               
                          </b-col>
                      </b-row>
                         <b-row >
                          <b-col>
                              <p> <strong>Comment</strong></p> 
                              <p>  {{ asset_list.comment }} </p>                                               
                          </b-col>
                      </b-row>
                </b-col>
                     </b-row>
                     <b-row >
                    <b-col class="text-center">
                                <br>
                              <h4> <strong> User use device</strong> </h4>
                              <br>
                    </b-col>
            </b-row>
            <b-row>      
                <b-col> 
                        <b-table striped hover :items="user_items" :fields="head">
                            <template slot="name" slot-scope="row">
                                {{row.item.firstname}} {{row.item.lastname}}
                            </template>
                            <template slot="datetime" slot-scope="row">
                                <div v-if="row.item.pivot.updated_at === null">
                                    {{row.item.pivot.created_at}}
                                </div>
                                <div v-else>
                                    {{row.item.pivot.updated_at}}
                                </div>
                            </template>
                        </b-table>
                </b-col>
            </b-row>
                 </b-container> 
          </b-col> 
        </b-row>
    </b-container>
     <b-btn class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-btn>
  </b-modal>

</template>


<script>
// import { Callout } from '~/components/'
import axios from 'axios'
 import 'vue-loading-overlay/dist/vue-loading.css';

export default {
   props: ['config'],
  name: 'View',
   data () {
    return {
       asset_list:[],
       department:[],
       categorie:[],
       user:[],
       statusAsset:[],
       head: {
              id : {
                label: '#',
                sortable: true
              },
              name : {
                label: 'Name',
                sortable: true
              },
              email: {
                label: 'Email',
              },
              user_type: {
                label: 'User Type',
              },
              datetime : {
                label: 'Date',
              },
            },
      user_items:[],
      isLoading: false,
      fullPage: true
    }
  },

  methods: {
    async ModalView (id) {
      this.$refs.myModalRef.show()
        this.isLoading = true;
        const AssetData = await this.$axios.$get('/asset/'+ id + this.$store.state.auth)
        .catch(error => { console.log(error.response)});
        console.log(AssetData);
        
        this.asset_list = AssetData.Asset_users[0]
        this.department = AssetData.Asset_users[0].department
        this.categorie = AssetData.Asset_users[0].asset_categorie
        this.user = AssetData.Asset_users[0].users_condition[0]
        this.user_items = AssetData.Asset[0].users
        this.statusAsset = AssetData.Asset_users[0].status
        this.isLoading = false;       
      },

      hideModal () {
        this.asset_list = []
        this.department = []
        this.categorie = []
        this.user = []
        this.user_items = []
      this.$refs.myModalRef.hide()
      }
  }

}
</script>