<template>
    <div class="animated fadeIn">
    <b-row>
      <h2>Booking</h2>
    </b-row>

  <!-- load component form input asset  -->
  <br>


  <!-- load data table -->
   <b-container fluid>
    <!-- User Interface controls -->
   <b-row> 
      <b-col md="1" class="my-1" >
        <nuxt-link to="/booking"> 
                  <b-button  v-b-tooltip.hover title="กลับไปยังหน้า Book " variant="success" >Back</b-button>
        </nuxt-link>
      </b-col>
    </b-row>
    <b-row>
    <b-col md="5" class="my-1">
      <b-form-group horizontal label="Select Date Book">
          <no-ssr>
              <date-picker v-model="dateSelect"  
              lang="en"  
              range
              type="date"
              format="YYYY-MM-DD"
              confirm
              :not-before="new Date()"
               ></date-picker>
          </no-ssr>
       </b-form-group>
    </b-col>
  </b-row>
  <b-row>
    <b-col align="left">
        <b-button-group >             
            <b-button  v-if="selectButton == true" v-b-tooltip.hover title="ค้นหาอุปกรณ์ตามวันที่ท่านเลือก" variant="success" @click="seachDate()">Seach Asset</b-button>
             <b-button  v-if="selectButton == false" v-b-tooltip.hover title="ล้างข้อมูล" variant="danger" @click="refresh()">Clear Date</b-button>
      </b-button-group>
    </b-col>
  </b-row>

  <div v-if="table == true">
      <b-row>
        <b-col md="4" class="my-1">
          <b-form-group horizontal label="Filter" class="mb-0">
            <b-input-group> 
              <b-form-input  v-model="filter" placeholder="Search" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="4" class="my-1">
          <b-form-group horizontal label="Per page" class="mb-0">
            <b-form-select :options="pageOptions" v-model="perPage" />
          </b-form-group>
        </b-col>

        <b-col md="4" class="my-1">
          <b-form-group horizontal label="Categorie" class="mb-0">
            <b-input-group>
              <b-form-select  v-model="search_by_categorie">
                <option :value="''">Select Asset Categorie</option>
                <option v-for="categorie in categorie" :key="categorie.id">
                  {{ categorie.text }}
                </option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
        
      </b-row>
        <b-table hover   
        :fields="fieldtable"
        :items="tableFilter"
        :filter="filter"
        @filtered="onFiltered"
        :current-page="currentPage"
        :per-page="perPage"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc" 
        >
        <template slot="categorie" slot-scope="row">
          {{row.item.asset_categorie.text}}
          </template>
          <template slot="department" slot-scope="row">
          {{row.item.department.text}}
          </template>
          <template slot="rigister" slot-scope="row">
            <b-button-group>
                <b-button variant="success" @click="showModelBookAsset(row.item.id)" v-b-tooltip.hover title="จองอุปกรณ์นี้">Book Asset</b-button> 
            </b-button-group>
          </template>

          <template slot="crud" slot-scope="row">
            <b-button-group>             
                  <b-button  v-b-tooltip.hover title="รายละอียดอุปกรณ์" variant="success" @click="showModalView(row.item.id)">View</b-button>
            </b-button-group>
          </template>
      </b-table>

          <b-row>
            <b-col md="6">
              <b-pagination align="left" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </b-col>
            <b-col md="6">
              <p align="right">
                  Sorting By: <b>{{ sortBy }}</b>,
                  Sort Direction: <b>{{ sortDesc ? 'Descending' : 'Ascending' }}</b>
              </p>
            </b-col>
          </b-row>
  </div>
</b-container>

  <!-- load component show modal -->
    <modelBookAsset :dateBefore="date.dateBefore"  :dateAfter="date.dateAfter" ref="book"/>
    <modelView :categorie="categorie" :department="department" ref="view"/>
  </div>
</template>


<script>
import Vue from 'vue';
import { Callout } from '~/components/'
import modelView from '../modelView'
import modelBookAsset from './modelBookAsset'
import axios from 'axios'  
const Cookie = process.client ? require('js-cookie') : undefined

export default {

   middleware: 'authenticated',

    data () {
        return {
          categorie:this.$store.state.categorie,
          cpu:[],
          fieldtable: {
              id : {
                label: '#',
                sortable: true,
              },
              asset_no: {
                label: 'Asset No.',
                sortable: true
              },
              asset_year: {
                label: 'Asset Year',
                sortable: true
              },
              categorie: {
                label: 'Categorie',
              },
              asset_name: {
                label: 'Asset Name',
              },
              desc : {
                label: 'Description',
              },
              serial_no : {
                label: 'Serial No.',
              },
              part_no : {
                label: 'Part No.',
              },
 
              // department : {
              //   label: 'Department',
              // },
              comment : {
                label: 'Comment',
              },
              rigister : {
                label: ' ',
              },
               crud : {
                label: ' ',
              },
            },
          items:[],
          sortBy: 'id',
          sortDesc: true,
          filter: null,
          currentPage: 1,
          perPage: 5,
          totalRows: '',
          pageOptions: [ 5, 10, 15 ],
          search_by_name:'',
          search_by_categorie:'',
          dateSelect:null,
          selectButton:true,
          date:{
            dateBefore:'',
            dateAfter:''
          },
          table:false
        }
      },

    created(){
            this.configApi();
            this.loadDataAssetTable();
        }, 
     components: {
        modelView,
        modelBookAsset
      },    
    computed: {
        assets () {         
          return this.$store.state.book_list.asset         
        },
       tableFilter() {
          if (this.items) {
            return this.items.filter((item) => 
             item.asset_categorie.text.includes(this.search_by_categorie)
             );
          }
        }
      },

    watch:{ 
        assets:function(){   
            this.loadDataAssetTable(); 
        }
    },

    methods: {
     async seachDate(){
       try{
         var rightNow = this.dateSelect;
          if(rightNow != null){
            this.selectButton = false 
            var day = [];
            for (var i = 0; i < rightNow.length; i++) { 
                rightNow[i].setDate(rightNow[i].getDate() + 1);
                day[i] = rightNow[i].toISOString().substring(0, 10);
            }
            this.date.dateBefore = day[0]
            this.date.dateAfter = day[1]

            const assetSeach = await this.$axios.$get('/booking/checkDate/' + day[0] +'/' + day[1] + this.$store.state.auth )
                  .catch(error => {
                      console.log(error.response)
            });
            this.table = true
            
            if(assetSeach){
              this.$toast.success('Successfully Seach Asset ' + day[0] + ' - ' + day[1] )
              this.$store.commit('setBookAsset', assetSeach)
            }
            else{
              this.$toast.error('Not have Asset for date select')
            }
               
          }
          else{
            this.$toast.error('Please Select Date Book')
          }
        }
       catch (error){  
         this.refresh()
          this.$toast.error('Please Select Date Book')
        }  
      },

      configApi (){
        console.log(this.$store.state);
      },

      onFiltered (filteredItems) {
      if(filteredItems != null){
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
      
      },

      loadDataAssetTable() {
          this.items = this.$store.state.book_list.asset;  
          this.onFiltered(this.items)   
      },

      async refresh(){
         this.selectButton = true 
         this.dateSelect= null;
            const data  = [];
            this.$store.commit('setBookAsset', data)
        },

      showModalView (id) {
            this.$refs.view.ModalView(id)
        },
      
      async showModelBookAsset(id){
        this.$refs.book.ModelBookAsset(id)
      },

      },
}
</script>