<template>

   <b-modal size="md" ref="myModalRef" title="Booking Asset" hide-footer>
      <b-container fluid class="bv-example-row">
        <b-row>
          <b-col>
            <b-container class="bv-example-row">
             <b-row>       
                <b-col> 
                    <b-row>
                        <b-col align="center">
                            <h3> <strong> Date Booking</strong> </h3> 
                            <h3> {{ dateBefore }} <i class="fa fa-arrows-h fa-lg mt-4"></i>  {{dateAfter}}</h3> 
                            <br> 
    
                              <b-form-select  v-model="userId" required  v-if="profile.user_type == 'admin'">
                                <option :value="null">Please select User</option>
                                <option :value="users.id" v-for="users in users" :key="users.id">
                                    {{ users.firstname }} {{ users.lastname }}
                                </option>
                             </b-form-select>
                             <h3 v-else> Booking By : {{profile.firstname}} {{profile.lastname}}</h3>


                            <br><br>
                         </b-col>
                    </b-row>
                     <b-row >
                          <b-col>
                              <p><strong> Asset No.:</strong> {{ asset_list.asset_no }}  </p> 
                              <p><strong> Asset Year:</strong> {{ asset_list.asset_year }}  </p> 
                              <p><strong> Asset Categorie :</strong> {{ categorie.text }} </p> 
                              <p><strong> Asset Name:</strong>  {{ asset_list.asset_name }} </p>                                              
                          </b-col>
                          <b-col>
                     
                            <p><strong> Serial No. :</strong>  {{ asset_list.serial_no }} </p>
                            <p><strong> Part No. :</strong> {{ asset_list.part_no }} </p>  
                            <p><strong> Status :</strong> Available</p> 
                            <p><strong>Department :</strong>{{ department.text }} </p>   
                          </b-col>
                      </b-row>
                       <b-row >
                          <b-col>
                              <p> <strong>Description</strong></p> 
                              <p>  {{ asset_list.desc }} </p>                                               
                          </b-col>
                      </b-row>
                         <b-row >
                          <b-col>
                              <p> <strong>Comment</strong></p> 
                              <p>  {{ asset_list.comment }} </p>                                               
                          </b-col>
                      </b-row>
                </b-col>
                     </b-row>
                     <b-row >
            </b-row>
                 </b-container> 
          </b-col> 
        </b-row>
    </b-container>
    <b-btn class="mt-3" variant="success" block @click="checkUser()">Book Asset</b-btn>
     <b-btn class="mt-3" variant="danger" block @click="hideModal">Close Me</b-btn>
  </b-modal>

</template>


<script>
import axios from 'axios'
const queryString = require('query-string')
export default {
  props: ['dateBefore','dateAfter'],
  name: 'View',
   data () {
    return {
       asset_list:[],
       department:[],
       categorie:[],
       users:this.$store.state.list_user,
       userId:null,
       DataBooking:[],
       profile : this.$store.state.profile ,
    }
  },

  methods: {
    async ModelBookAsset (id) {
        const AssetData = await this.$axios.$get('/asset/'+ id + this.$store.state.auth)
        .catch(error => { console.log(error.response)});
        this.asset_list = AssetData.Asset_users[0]
        this.department = AssetData.Asset_users[0].department
        this.categorie = AssetData.Asset_users[0].asset_categorie
        this.$refs.myModalRef.show()      
      },
      
      checkUser(){

          if(this.profile.user_type == 'employee'){
          this.userId = this.profile.id
            }
            
          if(this.userId == null){
              this.$toast.error('Please Select User')
          }else{
              this.BookAsset()
          } 
      },

      async BookAsset(){
          this.bulidData()
          const book = queryString.stringify(this.DataBooking)
          try{
              await this.$axios.$post('/booking/' + this.$store.state.auth,book) 
               .catch(error => { 
              this.$toast.error(error)
            });
            this.refresh()
            this.$toast.success('Booking Success')
            this.hideModal()
            this.$router.back()
          }
          catch(error){
               this.$toast.error(error)
          } 
      },
      
      bulidData(){
          this.DataBooking.asset_id = this.asset_list.id
          this.DataBooking.user_id = this.userId
          this.DataBooking.book_date = this.dateBefore
          this.DataBooking.book_end_date = this.dateAfter
          this.DataBooking.status = 1
      },
       async refresh(){
           const booking  = await this.$axios.$get('/booking/' + this.$store.state.auth)
                    .catch(error => { 
                    console.log(error.response)}); 

              const asset  = await this.$axios.$get('/asset' + this.$store.state.auth )
            .catch(error => { 
              console.log(error.response)
              Cookie.remove('auth');
              location.reload()});

            this.$store.commit('setSeasons', asset)
            this.$store.commit('setAssetBooking',booking) 
      },  
      hideModal () {
      this.DataBooking = []
      this.$refs.myModalRef.hide()
      }
  }

}
</script>