<template>

   <b-modal size="md" ref="myModalRef" title="Export Asset"  hide-footer  @hidden="hideModal">

      <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>  

      <b-container fluid class="bv-example-row" v-if="confirm">
        <b-row>
          <b-col>

            <b-container class="bv-example-row" v-if="config == 2">
                <b-row>
                    <b-col class="my-1">  
                        <b-form-group id="2"
                                label="Department"
                                label-for="Department"
                                description="Please select Asset Department">                  
                        <b-form-select  v-model="search_by_department">
                            <option :value="0" >All Department</option>
                            <option :value="department.id" v-for="department in department" :key="department.id">
                                        {{ department.text }}
                            </option>
                        </b-form-select>  
                        </b-form-group>                 
                </b-col>
                </b-row>
            </b-container> 

            <b-container class="bv-example-row" v-else>
                <b-row>
                    <b-col class="my-1">  
                        <b-form-group id="2"
                                label="Categorie"
                                label-for="Categorie"
                                description="Please select Asset Categorie">                  
                        <b-form-select  v-model="search_by_categorie">
                            <option :value="0" >All Categorie</option>
                            <option :value="categorie.id" v-for="categorie in categorie" :key="categorie.id">
                                        {{ categorie.text }}
                            </option>
                        </b-form-select>  
                        </b-form-group>                 
                </b-col>
                </b-row>

                 <b-row>       
                    <b-col class="my-1">
                        <b-form-group id="1"
                                label="Status"
                                label-for="Status"
                                description="Please select Asset Status">
                            <b-input-group>
                                <b-form-select  v-model="search_by_status">
                                    <option :value="0">All Status</option>
                                    <option :value="1" >Available</option>
                                    <option :value="2" >Usage</option>
                                    <option :value="3" >Booking</option>
                                    <option :value="4" >Retired Asset</option>
                                    <option :value="5" >Usage By Booking</option>
                                </b-form-select>  
                            </b-input-group> 
                        </b-form-group>                        
                    </b-col>
                </b-row>
            </b-container> 
          </b-col> 
        </b-row>
    </b-container>

    <b-container fluid class="bv-example-row" v-if="confirm == false">
        <b-row>
          <b-col>
              <p>Do you want to issue a report? Please press confirm to issue the document.</p>
              <br><br>
          </b-col> 
        </b-row>
    </b-container>
    <b-button variant="success"  block v-b-tooltip.hover  title="ออกรายงาน" @click="successExport()" v-if="confirm == false">
                <downloadExcel
                :data   = "json_data"
                :fields = "json_fields"
                type    = "csv"
                name    = "Export_Asset.csv"
                >
                Confirm
                </downloadExcel>
    </b-button> 
    <b-button variant="success"  block v-b-tooltip.hover  title="ออกรายงาน" @click="assetLoad()" v-if="confirm == true">
            Export CSV
        </b-button> 
     <b-btn variant="danger" block @click="hideModal">Close Me</b-btn>
  </b-modal>

</template>


<script>
// import { Callout } from '~/components/'
import axios from 'axios'
import saveAs from 'file-saver';
var FileSaver = require('file-saver');
 import 'vue-loading-overlay/dist/vue-loading.css';
export default {
  props: ['config'],
  name: 'View',
   data () {
    return {
       asset_list:[],
       categorie:this.$store.state.categorie,
       department:this.$store.state.department,
       search_by_status:0,
       search_by_categorie:0,
       search_by_department:0,
       confirm : true,
        json_fields: {
            '#':'id',
            'Categorie': 'asset_categorie.text',
            'Asset No.': 'asset_no',
            'Asset Name': 'asset_name',
            'Asset Year':'asset_year',
            'Serial No.':'serial_no',
            'Part No.':'part_no',
            'Description':'desc',
            'Comment':'comment',
            'Status':'status.name',
        },
        json_meta: [
            [
                {
                    'key': 'charset',
                    'value': 'utf-8'
                }
            ]
        ],
        json_data:[],
        isLoading: false,
        fullPage: true
    }
  },

  methods: {
//    async assetLoad (){
//         const data  = await this.$axios.$get('/report/asset/' + this.search_by_categorie + '/'+ this.search_by_status + this.$store.state.auth )
//             .catch(error => { console.log(error.response)});
//             if(data == ''){
//                 this.$toast.error('No Data For Export')
//             }else{
//                 this.json_data = data;
//                 this.confirm = false;
//             }     
//       },
    async assetLoad (){
         this.isLoading = true;

        const data  = await this.$axios.$get('/report/asset/' + this.search_by_categorie + '/'+ this.search_by_status + this.$store.state.auth, {responseType: 'blob',} )
        .catch(error => { console.log(error.response)});
        
        setTimeout(() => {
                  this.isLoading = false
                },500)
                
        FileSaver.saveAs(data, 'Asset_Report.xlsx')

        if(data == ''){
            return this.$toast.error('No Data For Export')
        }else{
          this.successExport();
        }
            
      },
    successExport (){
        this.$toast.success('Successfully Export Report ')
        this.search_by_status = 0
        this.search_by_categorie = 0
        this.confirm = true;
        this.$refs.myModalRef.hide()
    },
     ModalReport() {
        this.$refs.myModalRef.show()      
      },
    hideModal () {
        this.search_by_status = 0
        this.search_by_categorie = 0
        this.confirm = true;
      this.$refs.myModalRef.hide()
      }
  }
}
</script>