<template>
<b-container fluid class="bv-example-row">
    <b-container fluid class="bv-example-row" >
        <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
        <upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload" />
        <b-button variant="primary" v-b-tooltip.hover title="เพิ่มอุปกรณ์" @click="AddAsset()" v-if="show == true" >Add Asset To Store</b-button> 
        <b-button variant="success" v-b-tooltip.hover title="ล้างข้อมูล" @click="clear()" v-if="show == true" >Clear Data</b-button> 
        <br><br>
        <b-table :items="tableData" :fields="tableHeader" v-if="show == true" />
    </b-container>
   </b-container>

</template>
 

<script>
// import { Callout } from '~/components/'
import axios from 'axios'
import UploadExcelComponent from './uploadExcel.vue'
import qs from 'qs';
const queryString = require('query-string')
 import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  props: ['config'],
  name: 'View',
  components: { UploadExcelComponent },
   data () {
    return {
      tableData: [],
      tableHeader: [],
      fields: [ '#', 
      'Asset No.',
      'Asset Year',
      'Asset Name',
      'Description',
      'Part No.',
      'Serial No.',
      'Asset Categorie',
       'Comment'],
      show : false,
      asset_list:[],
      isLoading: false,
      fullPage: true
    }
  },

  methods: {

     beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1
      if (isLt1M) {
        return true
      }
      this.$message({
        message: 'Please do not upload files larger than 1m in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      this.tableData = results
      this.tableHeader = header
      console.log(this.tableData);
      if(this.tableHeader.length == 9 && this.tableHeader[3] == 'Asset Name'){
          this.show = true
      }
      else{
          this.$toast.error('You have imported the file incorrectly. Please check the Exemple file.')
          this.show = false
      }
      
    },

    AddAsset(){
        
        var checkData = null;   
        var data = this.tableData;
        
         data.forEach(element => {
               checkData = this.checkData(element) 
         });
        if(checkData != false){
            this.mapData(data);
        }
  
         if(checkData == false){
            this.$toast.error('There is not complete Data, please check and upload again.')
          }

    },

    mapData(data){
         var num = 0;
        var assetSuccess = []
        for (let num = 0; num < data.length; num++) {
            var asset = []
            asset.asset_name = data[num]['Asset Name']
            asset.asset_no = data[num]['Asset No.']
            asset.asset_year = data[num]['Asset Year']
            asset.desc = data[num]['Description']
            asset.part_no = data[num]['Part No.']
            asset.categorie_id = data[num]['Asset Categorie']
            asset.comment = data[num]['Comment']
            asset.serial_no = data[num]['Serial No.']
            this.addAsset(asset,num)
        }
        this.refease()
    },

    async refease(){
        const asset  = await this.$axios.$get('/asset' + this.$store.state.auth )
            .catch(error => { 
              console.log(error.response)
              Cookie.remove('auth');
              location.reload()});

            this.$store.commit('setSeasons', asset)    
    },
    checkData(asset){
        if (!asset['Asset Name'] || 
        !asset['Asset No.'] || 
        !asset['Asset Year']|| 
        !asset['Description'] || 
        !asset['Part No.'] ||
        !asset['Asset Categorie'] ||
        !asset['Comment'] ||
        !asset['Serial No.']) {
        return false
      }
    },

    async addAsset (asset,num) {
      this.isLoading = true;
      const assetIn = queryString.stringify(asset) 
      const assetInput = await this.$axios.$post('/asset' + this.$store.state.auth,assetIn )
        .then(function (response){  
            return response;   
        })
        .catch(error => { 
            console.log(error);
        }); 

        if(assetInput){
          this.$toast.success('Successfully Add Asset No. ' + asset.asset_no)  
          this.tableData.splice(num);  
        }else{
          this.$toast.error('Product import failed.'+ asset.asset_no +' please input again') 
        }

       this.isLoading = false
    
    },

    clear (){
      this.show = false
      this.tableData = []
      this.tableHeader = []
    }
    
  }
}
</script>