<template>
    <div class="animated fadeIn">
    <b-row>
      <h2>Asset</h2>
    </b-row>
      <!-- http://localhost:8000/report -->

          

<loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>


  <!-- load component form input asset  -->
    <formInput :categorie="categorie" :department="department" :users="users" v-if="profile.user_type == 'admin'"/>
      
  <br>
  <!-- load data table -->
   <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col md="4" class="my-1">
        <b-form-group horizontal label="Filter" class="mb-0">
          <b-input-group>
            <b-form-input  v-model="filter" placeholder="Search" />
            <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

    <b-col md="4" class="my-1">
        <b-form-group horizontal label="Department" class="mb-0">
          <b-input-group>
            <b-form-select  v-model="search_by_department">
              <option :value="''" >Select Asset Department</option>
              <option v-for="department in department" :key="department.id">
                {{ department.text }}
              </option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="4" class="my-1">
        <b-form-group horizontal label="Per page" class="mb-0">
          <b-form-select :options="pageOptions" v-model="perPage" />
        </b-form-group>
      </b-col>

      <b-col md="4" class="my-1">
        <b-form-group horizontal label="Categorie" class="mb-0">
          <b-input-group>
            <b-form-select  v-model="search_by_email">
              <option :value="''">Select Asset Categorie</option>
              <option v-for="categorie in categorie" :key="categorie.id">
                {{ categorie.text }}
              </option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="4" class="my-1">
        <b-form-group horizontal label="Status" class="mb-0">
          <b-input-group>
            <b-form-select  v-model="search_by_status">
               <option :value="''" >Select Status</option>
               <option value="Usage">Usage</option>
               <option value="Available">Available</option>
               <option value="Booking">Booking</option>
               <option value="Usage By Booking">Usage By Booking</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>
      
    </b-row>

      <b-table hover   
      :fields="fieldtable"
      :items="tableFilter"
      :filter="filter"
      @filtered="onFiltered"
      :current-page="currentPage"
      :per-page="perPage"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc" 
      >
      <template slot="categorie" slot-scope="row">
         {{row.item.asset_categorie.text}}
        </template>
         <template slot="department" slot-scope="row">
         {{row.item.department.text}}
        </template>
        <template slot="status" slot-scope="row">
          <!-- {{row.value?'Yes :)':'No :('}} -->
            <p v-if="row.item.status_id  == 2">
              <strong>{{row.item.status.name}}</strong>
            </p>
            <p v-else-if="row.item.status_id  == 1"> 
              <strong> {{row.item.status.name}} </strong>
            </p>
            <p v-else-if="row.item.status_id  == 3"> 
              <strong> {{row.item.status.name}} </strong>
              {{row.item.booking.book_date}}
            </p>
            <p v-else-if="row.item.status_id  == 5"> 
              <strong> {{row.item.status.name}} </strong>
              {{row.item.booking.book_date}}
            </p>
        </template>
        
         <template slot="rigister" slot-scope="row">
          <b-button-group>
               <div v-if="row.item.status_id  == 2 && profile.user_type == 'admin'">
                <b-button variant="danger"  @click="checkoutAsset(row.item.id)" v-b-tooltip.hover  title="ยกเลิกการใช้งาน">Checkout Asset</b-button>       
              </div>
              <div v-else-if="row.item.status_id  == 1"> 
                <b-button variant="success" @click="showModelRegisAsset(row.item.id)" v-b-tooltip.hover title="ใช้งานอุปกรณ์นี้">Checkin Asset</b-button>
              </div>     
              <div v-else-if="row.item.status_id  == 3" > 
                <b-button variant="warning" @click="showModelBook(row.item.id)" v-b-tooltip.hover title="แสดงรายละเอียดการจอง">View Booking</b-button>
              </div> 
              <div v-else-if="row.item.status_id  == 5 && profile.user_type == 'admin'" > 
                <b-button variant="danger" v-b-tooltip.hover title="ยกเลิกการใช้งาน" disabled>Checkout Asset</b-button>
              </div> 
          </b-button-group>
         </template>

        <template slot="crud" slot-scope="row">
          <div v-if="profile.user_type == 'admin'">
            <b-button-group>             
              <b-dropdown right split text="Detail" v-b-tooltip.hover title="รายละอียดอุปกรณ์">
                <b-dropdown-item variant="success" @click="showModalView(row.item.id)">View</b-dropdown-item>
                <b-dropdown-item variant="primary" @click="showModalEdit(row.item.id)">Edit</b-dropdown-item> 
                <b-dropdown-item @click="removeComment(row.item.id)" variant="danger" v-if=" row.item.status_id  == 1">Delete</b-dropdown-item> 
              </b-dropdown>         
          </b-button-group>
          </div>
          <div v-else>
              <b-button variant="success" @click="showModalView(row.item.id)">View </b-button>
          </div>
         </template>
    </b-table>

        <b-row>
          <b-col md="6">
            <b-pagination align="left" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
          </b-col>
          <b-col md="6">
             <p align="right">
                Sorting By: <b>{{ sortBy }}</b>,
                Sort Direction: <b>{{ sortDesc ? 'Descending' : 'Ascending' }}</b>
            </p>
          </b-col>
        </b-row>
  </b-container>

  <!-- load component show modal -->
    <modelRegisAsset :categorie="categorie" :department="department" :config="config" :users="users" ref="regisAsset"/>
    <modelEditForm :categorie="categorie" :department="department" :config="config" ref="formEdit"/>
    <modelView :categorie="categorie" :department="department" :config="config" ref="view"/>
    <modelBookAsset :categorie="categorie" :department="department" :config="1" ref="book"/>
  </div>
</template>


<script>
import Vue from 'vue';
import { Callout } from '~/components/'
import formInput from './formInput'
import modelEditForm from './modelEditForm'
import modelView from './modelView'
import modelRegisAsset from './modelRegisAsset'
import modelBookAsset from '../booking/assetbook/modelBookAsset' 
// /home/tiekungsos/Desktop/projectend/pages/booking/assetbook/modelBookAsset.vue
const Cookie = process.client ? require('js-cookie') : undefined
 import 'vue-loading-overlay/dist/vue-loading.css';

export default {
   middleware: 'authenticated',
    data () {
        return {
          asset_list:[],
          isLoading: false,
          fullPage: true,
          categorie:this.$store.state.categorie,
          department:this.$store.state.department,
          users:this.$store.state.list_user,
          cpu:[],
          fieldtable: {
              id : {
                label: '#',
                sortable: true,
              },
              asset_no: {
                label: 'Asset No.',
                sortable: true
              },
              asset_year: {
                label: 'Asset Year',
                sortable: true
              },
              categorie: {
                label: 'Categorie',
              },
              asset_name: {
                label: 'Asset Name',
              },
              // desc : {
              //   label: 'Description',
              // },
              serial_no : {
                label: 'Serial No.',
              },
              // part_no : {
              //   label: 'Part No.',
              // },
              status : {
                label: 'Status',
                sortable: true
              },
              // user : {
              //   label: 'User',
              // },
              department : {
                label: 'Department',
              },
              asset_user : {
                label: 'User',
              },
              comment : {
                label: 'Comment',
              },
              rigister : {
                label: ' ',
              },
               crud : {
                label: ' ',
              },
            },
          items:[],
          sortBy: 'id',
          token:'',
          sortDesc: true,
          filter: null,
          currentPage: 1,
          perPage: 5,
          totalRows: '',
          pageOptions: [ 5, 10, 15 ],
          config:[],
          search_by_status:'',
          search_by_email:'',
          search_by_department:'',
          profile:this.$store.state.profile ,
        }
      },

    created(){
            this.configApi();
            this.loadDataAssetTable();
        }, 
        
    components: {
        formInput,
        modelEditForm,
        modelView,
        modelRegisAsset,
        modelBookAsset,
      },


    computed: {
        assets () {         
          return this.$store.state.list.asset         
        },
       tableFilter() {
          if (this.items) {
            return this.items.filter((item) => 
             item.department.text.includes(this.search_by_department) &&
             item.asset_categorie.text.includes(this.search_by_email) &&
             item.status.name.includes(this.search_by_status)
             );
          }
        }
      },

    watch:{ 
        assets:function(){   
            this.loadDataAssetTable(); 
        }
    },

    methods: {
      configApi (){
        console.log(this.$store.state);
      },

      onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      if(filteredItems){
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
      },

      loadDataAssetTable() {
          this.items = this.$store.state.list.asset;  
          this.onFiltered(this.items)  
      },

      async removeComment (id) {
            
            await this.$axios.$delete('/asset/' + id + this.$store.state.auth )
              .catch(error => {
                  console.log(error.response)
                  // Cookie.remove('auth');
                  // location.reload()
                  this.$toast.error('Error Cannot Remove Asset')
              });
            this.$toast.success('Successfully Remove Asset ' + id)
            this.refresh()
        },



      async refresh(){
            const data  = await this.$axios.$get('/asset' + this.$store.state.auth )
            .catch(error => { 
              console.log(error.response)
              Cookie.remove('auth');
              location.reload()});
            this.$store.commit('setSeasons', data)
        },

      showModalEdit (id) {
            this.$refs.formEdit.Modal(id)
        },

      showModalView (id) {
            this.$refs.view.ModalView(id)
        },
      
      showModelRegisAsset (id) {
        this.$refs.regisAsset.Modal(id)
      },

      showModelBook(id){
        this.$refs.book.ModelBookAsset(id)
      },

      async checkoutAsset(id){
        this.isLoading = true
        try {
            const AssetData = await this.$axios.$get('/asset/'+ id + this.$store.state.auth)
            .catch(error => { 
              Cookie.remove('auth');
              location.reload()
            });
            
            const userId = AssetData.Asset_users[0].users_condition[0].id        
            const checkout = await this.$axios.$post('/asset/checkout/' + id + '/'+ userId + this.$store.state.auth )
            .catch(error => {console.log(error.response)});
            
            // if(checkout){
              this.isLoading = false
              this.$toast.success('Successfully Checkout ' + id )
            // }
            
         }
        catch (error){  
          this.isLoading = false
          this.$toast.error('Error Checkout  ' + error)
        }
        this.refresh()
      },

      },
}
</script>