<template>
<b-container fluid class="bv-example-row">
        
   <b-modal id="modalsm" size="md" ref="myModalRef" title="Checkin Asset"  @hidden="clearData" >

    <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>  

      <b-container fluid class="bv-example-row">
        <b-row>
            <b-col>
                <h5>Asset Number #{{asset_list.id}}</h5>
                <br>
            </b-col>  
        </b-row>
          <b-col>
            <b-container class="bv-example-row" v-if="profile.user_type == 'admin'">
               <b-form-group id="9" label="User:" label-for="User" description="Please Select Name User." >
                         <b-form-select  v-model="asset_user.user" required>
                            <option :value="null" >Please select an option</option>
                            <option :value="users.id" v-for="users in users" :key="users.id">
                              {{ users.firstname }} {{ users.lastname }}
                            </option>
                        </b-form-select>
                </b-form-group>
            </b-container> 
            <b-container class="bv-example-row" v-if="profile.user_type == 'employee'">
               <b-col>
                 <h5><strong> User : </strong> {{profile.firstname}} {{profile.lastname}}  </h5>
                 <br>

                 <h5><strong>Asset details</strong></h5>
                 <b-row >
                          <b-col>
                              <p><strong> Asset No.:</strong> {{ asset_list.asset_no }}  </p> 
                              <p><strong> Asset Year:</strong> {{ asset_list.asset_year }}  </p> 
                              <p><strong> Asset Categorie :</strong> {{ categorie.text }} </p> 
                              <p><strong> Asset Name:</strong>  {{ asset_list.asset_name }} </p>                                              
                          </b-col>
                          <b-col>
                     
                            <p><strong> Serial No. :</strong>  {{ asset_list.serial_no }} </p>
                            <p><strong> Part No. :</strong> {{ asset_list.part_no }} </p>  
                            <p><strong>Department :</strong>{{ department.text }} </p>   
                          </b-col>
                    </b-row>
                       <b-row >
                          <b-col>
                              <p> <strong>Description</strong></p> 
                              <p>  {{ asset_list.desc }} </p>                                               
                          </b-col>
                      </b-row>
                         <b-row >
                          <b-col>
                              <p> <strong>Comment</strong></p> 
                              <p>  {{ asset_list.comment }} </p>                                               
                          </b-col>
                      </b-row>
                <p>*You want to use this Asset. Press OK Button for the Asset operation.</p>      
                <br>
            </b-col>
            </b-container> 
          </b-col> 
        



      
    </b-container>

     <div slot="modal-footer" class="w-100">
         <b-btn  size="md" class="float-right" variant="success"  block @click="handleOk(asset_list.id)">
           OK
         </b-btn>
         <b-btn  size="md" class="float-right" variant="danger" block @click="hideModal">
           Close
         </b-btn>    
       </div>

  </b-modal>


  <b-modal ref="myModalRef2" hide-footer title="Warnning" :header-bg-variant="headerBgVariant" >
     <div class="d-block text-center">
        <h3>กรอกข้อมูลไม่ครบ</h3>
      </div>
       <b-btn class="mt-3" variant="outline-danger"  block @click="hideModal">Close Me</b-btn>
    </b-modal>
    </b-container>
</template>


<script>
// import { Callout } from '~/components/'
import axios from 'axios'
import { mapState } from 'vuex'
import qs from 'qs';
 import 'vue-loading-overlay/dist/vue-loading.css';
const queryString = require('query-string')
const Cookie = process.client ? require('js-cookie') : undefined
export default {
  name: 'Form-model',
   props: ['categorie','department','users'],
   data () {
    return {
      asset_list:[],
      headerBgVariant: 'danger',
      asset_user:[],
      profile: this.$store.state.profile ,
      isLoading: false,
      fullPage: true
    }
  },

  methods: {
      
    async Modal (id) {
      const AssetData = await this.$axios.$get('/asset/'+ id + this.$store.state.auth )
       .catch(error => {
         Cookie.remove('auth');
         location.reload()
       });
      this.asset_list = AssetData.Asset_users[0] 
      this.id_number = id      
      // console.log(this.asset_list);
      this.$refs.myModalRef.show()      
    },



  
    async handleSubmit (id) {
      this.isLoading = true;
      
      try {

      if(this.profile.user_type == 'employee'){
          this.asset_user.user = this.profile.id
        }

      const asset = queryString.stringify(this.asset_user)
      await this.$axios.$post('/asset/checkin/'+ id + this.$store.state.auth,asset)
        .catch(error => {console.log(error.message);
        
        }) 
        this.$toast.success('Successfully Check In ' + id)
        this.refresh()
        this.clearData()
        this.$refs.myModalRef.hide() 
      }catch (error){
          this.$toast.error('Error Checkin  ' + error)
      }

    this.isLoading = false

    },

    handleOk (id) {
      // Prevent modal from closing
      if (!this.asset_user) {
        this.$refs.myModalRef2.show() 
      } 
      else {
        this.handleSubmit(id)
      }
    },
    hideModal() {
        this.$refs.myModalRef.hide() 
        this.$refs.myModalRef2.hide() 
    },
    
    clearData () {
        this.showAddComputer = true
        this.asset_list = []
        this.computer = []
    },

   async refresh(){
        const data  = await this.$axios.$get('/asset' + this.$store.state.auth )
        .catch(error => { console.log(error.response)
        Cookie.remove('auth');
        location.reload()
        });
       this.$store.commit('setSeasons', data)
    }

  }
}
</script>