<template>
  <footer class="app-footer">
    <span><a href="https://www.aware.co.th">Aware</a> &copy; 2019 Asset Management System V1.6 </span>
    <span class="ml-auto">Powered by <a href="https://nuxtjs.org/">NuxtJS</a></span>
  </footer>
</template>
<script>
export default {
  name: 'c-footer'
}
</script>
