<template>
    <div class="animated fadeIn">

       <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
        <b-row>
            <b-col md="6">
                    <formInput :department="department" />      
            </b-col>     
        </b-row>
        <b-row>
      <b-col md="4" class="my-1">
        <b-form-group horizontal label="Filter" class="mb-0">
          <b-input-group>
            <b-form-input  v-model="filter" placeholder="Search" />
            <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="4" class="my-1">
        <b-form-group horizontal label="Per page" class="mb-0">
          <b-form-select :options="pageOptions" v-model="perPage" />
        </b-form-group>
      </b-col>
          <b-col md="4" class="my-1">
        <b-form-group horizontal label="Department" class="mb-0">
          <b-input-group>
            <b-form-select  v-model="search_by_department">
              <option :value="''" >Select Asset Department</option>
              <option v-for="department in department" :key="department.id">
                {{ department.text }}
              </option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>

        <b-table striped hover :items="tableFilter" :fields="head"
            :filter="filter"
            @filtered="onFiltered"
            :current-page="currentPage"
            :per-page="perPage"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc" 
        >
            <template slot="name" slot-scope="row">
                {{row.item.firstname}} {{row.item.lastname}}
            </template>
             <template slot="department" slot-scope="row">
                 {{row.item.department.text}}
            </template>
            <template slot="password_reset" slot-scope="row">
                 <b-button variant="primary" @click="sendEmail(row.item.email)">Reset</b-button>
            </template>
            <template slot="crud" slot-scope="row">
                <b-button variant="success"  @click="showModalView(row.item.id)">Details</b-button>
                <b-button variant="primary" @click="showModalEdit(row.item.id)">Edit</b-button> 
                <b-button @click="removeUser(row.item.id)" variant="danger" >Delete</b-button> 
            </template>

               <template slot="row-details" slot-scope="row">
            <b-card>
                <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"><b>Age:</b></b-col>
                <!-- <b-col>{{ row.item.age }}</b-col> -->
                </b-row>
                <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"><b>Is Active:</b></b-col>
                <!-- <b-col>{{ row.item.isActive }}</b-col> -->
                </b-row>
                <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button>
            </b-card>
            </template>
        </b-table>
         <b-row>
          <b-col md="6">
            <b-pagination align="left" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
          </b-col>
          <b-col md="6">
             <p align="right">
                Sorting By: <b>{{ sortBy }}</b>,
                Sort Direction: <b>{{ sortDesc ? 'Descending' : 'Ascending' }}</b>
            </p>
          </b-col>
        </b-row>
         <modelEditForm  ref="formEdit"/>
         <modelView ref="view"/>
     </div>
</template>


<script>
import { Callout } from '~/components/'
import axios from 'axios'
import formInput from './formInput'
import modelView from './modelView'
import modelEditForm from './modelEditForm'

export default {
    middleware: 'authenticated',
    data () {
        return {     
            head: {
              id : {
                label: '#',
                sortable: true
              },
              name : {
                label: 'Name',
                sortable: true
              },
              email: {
                label: 'Email',
              },
              department: {
                label: 'Department',
              },
              user_type: {
                label: 'User Type',
              },
              password_reset: {
                label: 'Password Reset',
              },
              crud : {
                label: ' ',
              },
            },
            user:[],   
            department:this.$store.state.department ,
          sortBy: 'id',
          sortDesc: true,
          filter: null,
          currentPage: 1,
          perPage: 5,
          totalRows: '',
          pageOptions: [ 5, 10, 15 ],  
          search_by_department:'',
          userLogin:[],
          isLoading:false
        }
      },
    mounted () {
     this.loadDataUserTable()
    },

    created(){
        this.loadDataUserTable(); 
        // this.loadDataDepartment();
    }, 

    components: {
        formInput,
        modelView,
        modelEditForm
    },
    computed: {
        users () {      
           return this.$store.state.list_user 
        },
        tableFilter() {
          if (this.user) {
            return this.user.filter((item) => 
             item.department.text.includes(this.search_by_department)
             );
          }
        }
      },



    watch:{ 
        users:function(){   
             this.loadDataUserTable(); 
        }
    },

    methods: {
        onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
      },

       async loadDataUserTable () {                   
            this.user = this.$store.state.list_user
            this.onFiltered(this.user)  
        } ,

      showModalEdit (id) {
            this.$refs.formEdit.modelEditForm(id)
        },

      showModalView (id) {
            this.$refs.view.ModalView(id)
        },


      async removeUser (id) {
          if(confirm("Do you really want to delete?")){
            await this.$axios.$delete('/users/' + id + this.$store.state.auth )
              .catch(error => {
                   console.log(error.response)
              });

            this.$toast.success('Successfully Remove ')
            this.refresh()
          }
        },
        
        async sendEmail(email) {
        if(confirm("Do you really want to reset password?")){
        this.isLoading = true
        const queryString = require('query-string')

        this.userLogin.email = email
        const userQS = queryString.stringify(this.userLogin)
        const data = await this.$axios.$post('/users/resetPassword',userQS);
        
        if(data == 'Success'){
            this.$toast.success('Send email to  ' + this.userLogin.email + '  please check your email')
        }else{
            this.$toast.error('email is incorrect. Please Try again')
        }
        this.isLoading = false
        }
        },
        async refresh(){
            const list_user  = await this.$axios.$get('/users' + this.$store.state.auth)
            .catch(error => { 
                Cookie.remove('auth');
                location.reload()
            });         

            const data  = await this.$axios.$get('/asset' + this.$store.state.auth )
            .catch(error => { console.log(error.response)});

            this.$store.commit('setSeasons', data)
            this.$store.commit('setlistuser',list_user)
        }
      },

}
</script>