<template>
<b-container fluid class="bv-example-row">
        
   <b-modal size="lg" ref="myModalRef" title="Edit User"  @hidden="clearData" >
    <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
      <b-container fluid class="bv-example-row">
        <b-row>
            <b-col>
            <h2>User Name #{{user.firstname}} {{user.lastname}}</h2>
            <br>
            </b-col>  
        </b-row>
        <b-row>
                <b-col sm="6">
                    <b-form-group>
                        <label for="first-name">First Name</label>
                        <b-form-input type="text" id="first-name" v-model="user.firstname" placeholder="Enter your First Name"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col sm="6">
                    <b-form-group>
                        <label for="last-name">Last Name</label>
                        <b-form-input type="text" id="last-name" v-model="user.lastname" placeholder="Enter your Last Name"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col sm="12">
                     <b-form-group>
                        <label for="vat">Username</label>
                        <b-form-input type="text" id="username" v-model="user.name" placeholder="Enter your Username"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col sm="12">
                    <b-form-group>
                        <label for="vat">Email</label>
                        <b-form-input type="email" id="email" v-model="user.email" placeholder="Enter your Email"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col sm="6">
                    <b-form-group>
                        <label for="department">Department</label>
                       <b-form-select  v-model="user.department_id" required>
                            <option :value="department.id" disabled>{{departmentUser.text}}</option>
                            <option :value="department.id" v-for="department in department" :key="department.id">
                              {{ department.text }}
                            </option>
                        </b-form-select>
                    </b-form-group>
                </b-col>
                <b-col sm="6">
                    <b-form-group v-if="profile.user_type == 'admin'">
                        <label for="userType">User Type</label>
                        <b-form-select v-model="user.user_type" class="mb-3" >
                        <option :value="null" >Please select an option</option>
                        <option value="admin">Admin</option>
                        <option value="employee">Employee</option>
                        </b-form-select>
                    </b-form-group>
                </b-col>
                <b-col sm="2">
                     <b-button  variant="success" :pressed.sync="show">Change Password</b-button>
                </b-col>
                <br>
                <b-col sm="12" v-if="show">
                    <b-form-group>
                        <label for="vat">Current Password</label>
                        <b-form-input type="password" id="password" v-model="user.password_old" placeholder="Enter Current Password"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col sm="12" v-if="show">
                        <b-form-group>
                            <label for="vat">New Password</label>
                            <b-form-input type="password" id="new_password" v-model="user.password_new" placeholder="Enter New Password"></b-form-input>
                        </b-form-group>
                </b-col>
                <b-col sm="12" v-if="show">
                        <b-form-group>
                            <label for="vat">Confirm New Password</label>
                            <b-form-input type="password" id="new_con_password" v-model="password_new_confirm" placeholder="Enter Confirm New Password"></b-form-input>
                        </b-form-group>
                </b-col>
                
        </b-row>
    </b-container>

     <div slot="modal-footer" class="w-100">
         <b-btn  size="lg" class="float-right" variant="success"  block @click="handleOk(user.id)">
           OK
         </b-btn>
         <b-btn  size="lg" class="float-right" variant="danger" block @click="hideModal">
           Close
         </b-btn>    
       </div>

  </b-modal>
    </b-container>
</template>


<script>
// import { Callout } from '~/components/'
import axios from 'axios'
import { mapState } from 'vuex'
import qs from 'qs';
const queryString = require('query-string')
 import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: 'Form-model',
   data () {
    return {
      user:[],
      UserData:[],
      departmentUser:[],
    department: this.$store.state.department,
    profile:this.$store.state.profile ,
    show: false,
    password_new_confirm:null,
    isLoading: false,
    }
  },

  methods: {
    async modelEditForm(id) {
       const UserData = await this.$axios.$get('/users/'+ id + this.$store.state.auth)
        .catch(error => { console.log(error.response)});
        this.user = UserData.user[0]
        this.departmentUser = UserData.user[0].department
      this.$refs.myModalRef.show()     
    },

     async handleSubmit (id) {
       this.isLoading = true

       if(!this.user.password_old){
         this.user.password_old = null
         this.user.password_new = null
       }
       
      const user = queryString.stringify(this.user)
      var updatwUser = await this.$axios.$put('/users/'+ id + this.$store.state.auth ,user)
        .catch(error => {
            console.log(error);
            this.$toast.error('กรอกรหัสผ่านไม่ถูกต้องกรุณากรอกรหัสผ่านใหม่')
            this.isLoading = false
          }) 
        if(updatwUser != null){
          this.isLoading = false
            this.refresh()
            this.$toast.success('Successfully Edit User ' + this.user.name )
            this.clearData()
            this.hideModal()
        }
    },

    clearData(){
        this.user = []
    },

    handleOk (id) {
      // Prevent modal from closing
      if (!this.user.firstname ||
          !this.user.lastname ||
          !this.user.name ||
          !this.user.email ||
          !this.user.department_id
          ) {     
        this.$toast.error('คุณกรอกข้อมูลไม่ครบกรุณากรอกใหม่')
      } 
      else if(this.password_new_confirm != this.user.password_new){
          this.$toast.error('กรุณากรอก Password New ให้ตรงกับ Confirm New Password')
      }else if(this.show == true && !this.user.password_old){
          this.$toast.error('กรุณากรอก Current Password')  
      }
      else {
        this.handleSubmit(id)
      }
      },

    hideModal(){
        this.$refs.myModalRef.hide() 
    },

   async refresh(){
        const list_user  = await this.$axios.$get('/users' + this.$store.state.auth)
        .catch(error => { 
            Cookie.remove('auth');
            location.reload()
        });         
        this.$store.commit('setlistuser',list_user)
    }

  }
}
</script>