<template>
  <div>
    <input ref="excel-upload-input" class="excel-upload-input" type="file" accept=".xlsx, .xls" @change="handleClick">
    <div class="drop" @drop="handleDrop" @dragover="handleDragover" @dragenter="handleDragover">
      Drop excel file here or
      <b-button :loading="loading" style="margin-left:16px;" size="mini"  variant="primary" @click="handleUpload">Browse</b-button>
      <b-button v-b-modal.modal1 style="margin-left:16px;" size="mini"  variant="danger" >Exemple file</b-button>
    </div>


    <b-modal ref="myModalRef" id="modal1" hide-footer title="Exemple file">
        <h2>รายละเอียด</h2>
        <h4>ในส่วนของ User Department ให้ระบุดังนี้</h4>
        <b-list-group>
            <b-list-group-item class="d-flex justify-content-between align-items-center"
             v-for="department in department" :key="department.id" >
                {{ department.text }}
                <b-badge variant="primary" pill>{{ department.id }}</b-badge>
            </b-list-group-item>
        </b-list-group>
        <h4>ในส่วนของ User Type ให้ระบุดังนี้</h4>
        <b-list-group>
            <b-list-group-item class="d-flex justify-content-between align-items-center">
                  Admin
                <b-badge variant="primary" pill>admin</b-badge>
            </b-list-group-item>
            <b-list-group-item class="d-flex justify-content-between align-items-center">
                  Employee
                <b-badge variant="primary" pill>employee</b-badge>
            </b-list-group-item>
            
        </b-list-group>
     <b-button class="mt-3" block :loading="loading" variant="outline-success" @click="downloadFile">Exemple file</b-button>
     <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>
  </b-modal>
  </div>

  
</template>

<script>
import XLSX from 'xlsx'
import saveAs from 'file-saver';
var FileSaver = require('file-saver');
export default {
  props: {
    beforeUpload: Function, // eslint-disable-line
    onSuccess: Function// eslint-disable-line
  },
  data() {
    return {
      loading: false,
      excelData: {
        header: null,
        results: null
      },
      // categorie:this.$store.state.categorie
      department:this.$store.state.department,
    }
  },
  methods: {
      hideModal() {
        this.$refs.myModalRef.hide()
      },
      async downloadFile(){
        const excel  = await this.$axios.$get('/report/getfile/user' + this.$store.state.auth , {responseType: 'blob',} )
        .catch(error => { console.log(error.response)});
        FileSaver.saveAs(excel, 'Exemple_User.xlsx')

        if(excel == ''){
            return this.$toast.error('No Data')
        }
            
      },
      
    generateData({ header, results }) {
      this.excelData.header = header
      this.excelData.results = results
      this.onSuccess && this.onSuccess(this.excelData)
    },
    handleDrop(e) {
      e.stopPropagation()
      e.preventDefault()
      if (this.loading) return
      const files = e.dataTransfer.files
      if (files.length !== 1) {
        this.$message.error('Only support uploading one file!')
        return
      }
      const rawFile = files[0] // only use files[0]
      if (!this.isExcel(rawFile)) {
        this.$message.error('Only supports upload .xlsx, .xls, .csv suffix files')
        return false
      }
      this.upload(rawFile)
      e.stopPropagation()
      e.preventDefault()
    },
    handleDragover(e) {
      e.stopPropagation()
      e.preventDefault()
      e.dataTransfer.dropEffect = 'copy'
    },
    handleUpload() {
      this.$refs['excel-upload-input'].click()
    },
    handleClick(e) {
      const files = e.target.files
      const rawFile = files[0] // only use files[0]
      if (!rawFile) return
      this.upload(rawFile)
    },
    upload(rawFile) {
      this.$refs['excel-upload-input'].value = null // fix can't select the same excel
      if (!this.beforeUpload) {
        this.readerData(rawFile)
        return
      }
      const before = this.beforeUpload(rawFile)
      if (before) {
        this.readerData(rawFile)
      }
    },
    readerData(rawFile) {
      this.loading = true
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onload = e => {
          const data = e.target.result
          const workbook = XLSX.read(data, { type: 'array' })
          const firstSheetName = workbook.SheetNames[0]
          const worksheet = workbook.Sheets[firstSheetName]
          const header = this.getHeaderRow(worksheet)
          const results = XLSX.utils.sheet_to_json(worksheet)
          this.generateData({ header, results })
          this.loading = false
          resolve()
        }
        reader.readAsArrayBuffer(rawFile)
      })
    },
    getHeaderRow(sheet) {
      const headers = []
      const range = XLSX.utils.decode_range(sheet['!ref'])
      let C
      const R = range.s.r
      /* start in the first row */
      for (C = range.s.c; C <= range.e.c; ++C) { /* walk every column in the range */
        const cell = sheet[XLSX.utils.encode_cell({ c: C, r: R })]
        /* find the cell in the first row */
        let hdr = 'UNKNOWN ' + C // <-- replace with your desired default
        if (cell && cell.t) hdr = XLSX.utils.format_cell(cell)
        headers.push(hdr)
      }
      return headers
    },
    isExcel(file) {
      return /\.(xlsx|xls|csv)$/.test(file.name)
    }
  }
}
</script>

<style scoped>
.excel-upload-input{
  display: none;
  z-index: -9999;
}
.drop{
  border: 2px dashed #bbb;
  width: 600px;
  height: 160px;
  line-height: 160px;
  margin: 0 auto;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  color: #bbb;
  position: relative;
}
</style>