<template>
<b-container fluid class="bv-example-row">
    <b-container fluid class="bv-example-row" >
        <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
        <upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload" />
        <b-button variant="primary" v-b-tooltip.hover title="เพิ่มอุปกรณ์" @click="AddUser()" v-if="show == true" >Add User To Store</b-button> 
        <b-button variant="success" v-b-tooltip.hover title="ล้างข้อมูล" @click="clear()" v-if="show == true" >Clear Data</b-button> 
        <br><br>
        <b-table :items="tableData" :fields="fields" v-if="show == true" />
    </b-container>
   </b-container>

</template>
 

<script>
// import { Callout } from '~/components/'
import axios from 'axios'
import UploadExcelComponent from './uploadExcel.vue'
import qs from 'qs';
const queryString = require('query-string')
 import 'vue-loading-overlay/dist/vue-loading.css';
import { log } from 'util';

export default {
  props: ['config'],
  name: 'View',
  components: { UploadExcelComponent },
   data () {
    return {
      tableData: [],
      tableHeader: [],
      fields: [
        '#',
      'First Name',
      'Last Name',
      'Username',
      'Email',
      'Department',
      'User Type'],
      show : false,
      user_list:[],
      isLoading: false,
      fullPage: true
    }
  },

  methods: {

     beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1
      if (isLt1M) {
        return true
      }
      this.$message({
        message: 'Please do not upload files larger than 1m in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      this.tableData = results
      this.tableHeader = header
      
      if(this.tableHeader.length == 7 && this.tableHeader[4] == 'Email' ){
          this.show = true
      }
      else{
          this.$toast.error('You have imported the file incorrectly. Please check the Exemple file.')
          this.show = false
      }
      
    },

    AddUser(){
       
        var checkData = false;   
        var data = this.tableData;
        for (let index = 0; index < data.length; index++) {
          checkData = this.checkData(data[index]) 
          if(checkData == false){
            this.$toast.error('This some user already exists in the system. Please check the information.')
                break;
          }
        }

        if(checkData == true){
           this.isLoading = true;
            this.mapData(data);
            this.$toast.success('Successfully Add user')
            this.refresh();
            this.show = false
            this.tableData = []
            this.tableHeader = []
            setTimeout(() => {
                this.isLoading = false
            },1000)
        }
    },

    mapData(data){
         var num = 0;
         
        for (let num = 0; num < data.length; num++) {
            var user = []
            user.firstname = data[num]['First Name']
            user.lastname = data[num]['Last Name']
            user.name = data[num]['Username']
            user.email = data[num]['Email']
            user.department_id = data[num]['Department']
            user.user_type = data[num]['User Type']
            this.adduser(user,num)
        }
    },

    checkData(user){
        if (!user['First Name'] || 
        !user['Last Name'] || 
        !user['Username']|| 
        !user['Email'] || 
        !user['Department'] ||
        !user['User Type'] ){
        this.$toast.error('There is not complete Data, please check and upload again.')  
        return false
      }else{
        var users = this.$store.state.list_user 
        var complate = true;
        
        users.forEach(element => {
          if(user['Email'] == element.email){
              complate = false
          }
        });

        if(complate){
           return true  
        }else{
          return false
        }

      }
    },

    async adduser (user,num) {
      const userIn = queryString.stringify(user) 
      const userInput = await this.$axios.$post('/users' + this.$store.state.auth,userIn )
        .then(function (response){    
            return response;   
        })
        .catch(error => {
            console.log(error);
        }); 

        if(userInput){
          this.$toast.success('Successfully Add User No. ' + user.name)  
          this.tableData.splice(num, 1);  
        }else{
          this.$toast.error('Product import failed.'+ user.name +' please input again') 
        }

    },

    async refresh(){
        const list_user  = await this.$axios.$get('/users' + this.$store.state.auth)
        .catch(error => { console.log(error.response)});   

       this.$store.commit('setlistuser',list_user)
        
        }
  }
}
</script>