<template>

   <b-modal size="md" ref="myModalRef" title="Export User"  hide-footer  @hidden="hideModal">

      <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>  


      <b-container fluid class="bv-example-row" v-if="confirm">
        <b-row>
          <b-col>

            <b-container class="bv-example-row" >
                <b-row>
                    <b-col class="my-1">  
                        <b-form-group id="2"
                                label="Department"
                                label-for="Department"
                                description="Please select Asset Department">                  
                        <b-form-select  v-model="search_by_department">
                            <option :value="0" >All Department</option>
                            <option :value="department.id" v-for="department in department" :key="department.id">
                                        {{ department.text }}
                            </option>
                        </b-form-select>  
                        </b-form-group>                 
                </b-col>
                </b-row>
            </b-container> 
          </b-col> 
        </b-row>
    </b-container>

    <b-container fluid class="bv-example-row" v-if="confirm == false">
        <b-row>
          <b-col>
              <p>Do you want to issue a report? Please press confirm to issue the document.</p>
              <br><br>
          </b-col> 
        </b-row>
    </b-container>
    <b-button variant="success"  block v-b-tooltip.hover  title="ออกรายงาน" @click="successExport()" v-if="confirm == false">
                <downloadExcel
                :data   = "json_data"
                :fields = "json_fields"
                type    = "csv"
                name    = "Export_User.csv"
                >
                Confirm
                </downloadExcel>
    </b-button> 
    <b-button variant="success"  block v-b-tooltip.hover  title="ออกรายงาน" @click="assetLoad()" v-if="confirm == true">
            Export CSV
        </b-button> 
     <b-btn variant="danger" block @click="hideModal">Close Me</b-btn>
  </b-modal>

</template>


<script>
// import { Callout } from '~/components/'
import axios from 'axios'
import saveAs from 'file-saver'
var FileSaver = require('file-saver')
 import 'vue-loading-overlay/dist/vue-loading.css'

export default {
  props: ['config'],
  name: 'View',
   data () {
    return {
       department:this.$store.state.department,
       search_by_department:0,
       confirm : true,
        json_fields: {
            '#':'id',
            'Name': 'name',
            'First Name': 'firstname',
            'Last Name': 'lastname',
            'Email':'email',
            'Department':'department.text',
            'User Type':'user_type'
        },
        json_meta: [
            [
                {
                    'key': 'charset',
                    'value': 'utf-8'
                }
            ]
        ],
        json_data:[],
        isLoading: false,
        fullPage: true
    }
  },

  methods: {
   async assetLoad (){
        this.isLoading = true;

        const data  = await this.$axios.$get('/report/user/' + this.search_by_department + this.$store.state.auth , {responseType: 'blob',} )
        .catch(error => { console.log(error.response)});
        
        setTimeout(() => {
                  this.isLoading = false
                },500)
                
        FileSaver.saveAs(data, 'User_Report.xlsx')

        if(data == ''){
            return this.$toast.error('No Data For Export')
        }else{
          this.successExport();
        }
            
      },


    successExport (){
        this.$toast.success('Successfully Export Report ')
        this.search_by_status = 0
        this.search_by_categorie = 0
        this.confirm = true;
        this.$refs.myModalRef.hide()
    },
     ModalReport() {
        this.$refs.myModalRef.show()      
      },
    hideModal () {
        this.search_by_status = 0
        this.search_by_categorie = 0
        this.confirm = true;
      this.$refs.myModalRef.hide()
      }
  }
}
</script>