<template>
  <div class="app flex-row align-items-center">
       <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
    <div class="container">
      <b-row class="justify-content-center">    
        <b-col md="6">
            <b-row>
                <b-col cols="6">
                    <nuxt-link to="/login"> 
                        <b-button variant="success" class="px-4" @click="login()">Back to login</b-button>
                    </nuxt-link>
                </b-col>
            </b-row>
            <br>
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                 <h1>Assets Management System</h1>
                 <!-- <h1>Login</h1> -->
                <p class="text-muted">Forgot Password</p>
                 <span>{{ errors.first('email') }}</span>
                <b-input-group class="mb-3">
                  <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                  <input type="email" v-model="userLogin.email" name="email"  v-validate="'required|email'" class="form-control" placeholder="Email">
                </b-input-group>
                <b-row>
                  <b-col cols="6">
                    <b-button variant="primary" class="px-4" @click="sendEmail()">Send Email</b-button>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
            <!-- <b-card no-body class="text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <b-card-body class="text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <b-button variant="primary" class="active mt-3">Register Now!</b-button>
                </div>
              </b-card-body>
            </b-card> -->
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import qs from 'qs';
 import 'vue-loading-overlay/dist/vue-loading.css';
const Cookie = process.client ? require('js-cookie') : undefined

export default {
  middleware: 'notAuthenticated',
  name: 'password',
  layout: 'clean',
  data () {
    return{
      userLogin:[],
        show: false, 
        isLoading: false,
    }
  },

  
  methods: {
    async sendEmail() {
        this.isLoading = true
        const queryString = require('query-string')
        const userQS = queryString.stringify(this.userLogin)
        const data = await this.$axios.$post('/users/resetPassword',userQS);
        
        if(data == 'Success'){
            this.$toast.success('Send email to  ' + this.userLogin.email + '  please check your email')
        }else{
            this.$toast.error('email is incorrect. Please Try again')
        }
        this.isLoading = false
    },
  }
}
</script>
