<template>
  <div class="animated fadeIn">
    <b-card >
      <b-container class="bv-example-row">
        <b-row>
            <b-col align="center">
            <h2><strong>Profile</strong></h2>
            <br><br>
            </b-col>  
        </b-row>
        <b-row>
          <b-col>
            <b-container class="bv-example-row">
             <b-row>       
                <b-col cols="6" align="center">                    
                      <b-img rounded="circle" blank width="300" height="300" blank-color="#777" alt="img" class="m-1" />                 
                </b-col>
                <b-col> 
                     <b-row >
                          <b-col>                            
                              <p><strong> User No :</strong> {{ UserDataList.id }}  </p> 
                              <p><strong> Name:</strong> {{UserDataList.firstname}} {{UserDataList.lastname}}  </p> 
                              <p><strong> User Name:</strong> {{ UserDataList.name }} </p> 
                              <p><strong> Email:</strong> {{ UserDataList.email }} </p> 
                              <p><strong> Department :</strong>  {{ department.text }} </p> 
                              <p><strong> User Type :</strong>  {{ UserDataList.user_type }} </p> 
                              <p><strong> Date Register :</strong>  {{ UserDataList.created_at }} </p>   
                              <b-button variant="success" @click="showModalEdit(UserDataList.id)" v-b-tooltip.hover title="แก้ไข Profile">Edit Profile</b-button>                                          
                          </b-col>
                      </b-row>                    
                </b-col>
            </b-row>
            <b-row >
                    <b-col class="text-center">
                                <br>
                              <h4> <strong> User device</strong> </h4>
                              <br>
                    </b-col>
            </b-row>
            <b-row>      
                <b-col> 
                        <b-table hover   :fields="field" :items="asset">
                                <template slot="asset_status" slot-scope="row">
                                    <p v-if="row.value == true">
                                    <strong>Usage</strong>
                                    </p>
                                    <p v-else> 
                                    Available
                                    </p>
                                </template>
                        </b-table>
                </b-col>
            </b-row>
                 </b-container> 
          </b-col> 
        </b-row>
         </b-container> 
    </b-card>
    <modelEditForm  ref="formEdit"/>
  </div>
</template>

<script>
import axios from 'axios' 
import modelEditForm from './user/modelEditForm'
export default {
   middleware: 'authenticated',
  name: 'prfile',

  data: function () {
    return {
      UserDataList:[],
      department:[],
      asset:[],
      field: {
              id : {
                label: '#',
                sortable: true,
              },
              asset_no: {
                label: 'Asset No.',
                sortable: true
              },
              asset_year: {
                label: 'Asset Year',
                sortable: true
              },
            //   categorie: {
            //     label: 'Asset Categorie',
            //   },
              asset_name: {
                label: 'Asset Name',
              },
              // desc : {
              //   label: 'Description',
              // },
            //   serial_no : {
            //     label: 'Serial No.',
            //   },
              // part_no : {
              //   label: 'Part No.',
              // },
              asset_status : {
                label: 'Status',
                sortable: true
              },
              // user : {
              //   label: 'User',
              // },
            //   department : {
            //     label: 'Department',
            //   },
              comment : {
                label: 'Comment',
              },
              crud : {
                label: ' ',
              },
            },
    }
  },
  components: {
        modelEditForm
    },
  created() {
    this.profileView();
  },

  methods: {
    async profileView(){
      const UserData = await this.$axios.$get('/users/'+ this.$store.state.profile.id + this.$store.state.auth)
        .catch(error => { console.log(error.response)});
        this.UserDataList = UserData.user[0]
        this.department = UserData.user[0].department
        this.asset = UserData.user[0].asset  
        console.log( UserData.user[0]);
           
    },
    showModalEdit (id) {
            this.$refs.formEdit.modelEditForm(id)
        },
  },

}
</script>