<template>
  <div class="animated fadeIn">

    
<loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>

       <b-row>
        <h2>Setting</h2>
       </b-row>
       <div>
        <b-card no-body>
          <b-tabs pills card>
            <b-tab title="Department" active>
              <b-list-group >
                 <b-list-group-item v-if="add">
                    <b-row class="my-1">
                      <b-col sm="11">
                        <b-form-input  type="text" v-model="departmentInput.Input" required placeholder="Enter Department" />
                      </b-col>
                      <b-col sm="1">
                        <b-button variant="primary" @click="addDepartment()">Add</b-button>
                      </b-col>
                    </b-row>
                </b-list-group-item>
                <b-list-group-item  v-for="department in department" :key="department.id">
                  <b-row class="my-1">
                      <b-col sm="10">
                        <div v-if="editDpartment != department.id">{{ department.text }}</div>
                        <div v-else><b-form-input  type="text" v-model="department.text" required placeholder="Enter Department" /></div>
                      </b-col>
                      <b-col sm="2">
                         <b-button-group v-if="editDpartment != department.id">
                            <b-button variant="success" @click="editDepartment(department.id)">Edit</b-button>
                            <b-button variant="warning"   @click="deleteDepartment(department.id)">Delete</b-button>
                          </b-button-group>
                          <b-button-group v-else>
                            <b-button variant="primary" @click="edit(department.id,department.text)">Save</b-button>
                            <b-button variant="danger" @click="editDpartment = null">Cancel</b-button>
                          </b-button-group>

                      </b-col>
                    </b-row>
                </b-list-group-item>
                <b-button block variant="primary" :pressed.sync="add">Add Department</b-button>
              </b-list-group>
            </b-tab>
            <b-tab title="Category">
              <b-list-group >
                <b-list-group-item v-if="add">
                    <b-row class="my-1">
                      <b-col sm="10">
                        <b-form-input  type="text" v-model="categorieInput.Input" required placeholder="Enter Category" />
                      </b-col>
                      <b-col sm="1">
                          <b-form-checkbox-group v-model="categorieInput.computer"  id="exampleChecks">
                            <b-form-checkbox value="true">Computer</b-form-checkbox>
                          </b-form-checkbox-group>
                      </b-col>
                      <b-col sm="1">
                        <b-button variant="primary" @click="addCategorie()">Add</b-button>
                      </b-col>
                    </b-row>
                </b-list-group-item>
                <b-list-group-item  v-for="categorie in categorie" :key="categorie.id">    
                  <b-row class="my-1">
                      <b-col sm="9">
                        <div v-if="editcategorie != categorie.id">{{ categorie.text }}</div>
                        <div v-else><b-form-input  type="text" v-model="categorie.text" required placeholder="Enter Category" /></div>
                      </b-col>
                      <b-col sm="1" >
                         
                          <b-form-checkbox-group  v-if="editcategorie != categorie.id" v-model="categorie.computer"  disabled id="exampleChecks">
                            <b-form-checkbox value="1">Computer</b-form-checkbox>
                          </b-form-checkbox-group> 
                           <b-form-checkbox-group v-else v-model="categorie.computer"  id="exampleChecks">
                            <b-form-checkbox value="1">Computer</b-form-checkbox>
                          </b-form-checkbox-group> 

                      </b-col>
                      <b-col sm="2">
                         <b-button-group v-if="editcategorie != categorie.id">
                            <b-button variant="success" @click="editCategorie(categorie.id)">Edit</b-button>
                            <b-button variant="warning"   @click="deleteCategorie(categorie.id)">Delete</b-button>
                          </b-button-group>
                          <b-button-group v-else>
                            <b-button variant="primary" @click="editCat(categorie.computer,categorie.id,categorie.text)">Save</b-button>
                            <b-button variant="danger" @click="editcategorie = null">Cancel</b-button>
                          </b-button-group>
                      </b-col>
                    </b-row>
                 </b-list-group-item>
                <!-- <b-list-group-item> -->
                  <b-button block variant="primary" :pressed.sync="add">Add Categorie</b-button>
                <!-- </b-list-group-item> -->

              </b-list-group>
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
  </div>
</template>

<script>
import axios from 'axios' 
import qs from 'qs';
const queryString = require('query-string')
 import 'vue-loading-overlay/dist/vue-loading.css';

export default {
   middleware: 'authenticated',
  name: 'setting',

  data: function () {
    return {
      categorie:[],
      department:[],
      add:false,
      departmentInput:[],
      categorieInput:[],
      editDpartment:null,
      editcategorie:null,
      isLoading: false,
      fullPage: true,
      categorieIn:[]
    }
  },
   created(){
        this.loadData(); 
  },
  computed: {
        departmentload () {      
           return this.$store.state.department 
        },
         categorieload () {      
           return this.$store.state.categorie 
        },
  },
  watch:{ 
        departmentload:function(){   
             this.loadData(); 
        },
         categorieload:function(){   
             this.loadData(); 
        }

  },
  methods: {
    loadData(){
      this.department = this.$store.state.department 
       this.categorie = this.$store.state.categorie 
    },

    async addDepartment(){
      this.isLoading = true
       if(!this.departmentInput.Input){
          this.$toast.error('Please enter Department')
           this.isLoading = false
      }else{
        const department = queryString.stringify(this.departmentInput) 
        const departmentInput = await this.$axios.$post('/department/'+ this.$store.state.auth ,department)
          .then(function (response) {
                  return response;
              })
          .catch(error => {
              this.$toast.error(error)
          }); 
          if(departmentInput){
              this.$toast.success('Successfully Add Department')
              this.add = false
              this.departmentInput = []
              this.refresh()
          }
        this.isLoading = false
      }

      
    },

    editDepartment(id){
      this.editDpartment = id
    },
    editCategorie(id){
      this.editcategorie = id
    },
    

    async edit(id,departmentText){
      this.isLoading = true
      const departmentInput = await this.$axios.$get('/department/'+ id +'/'+ departmentText +  this.$store.state.auth)
        .then(function (response) {
                return response;
            })
        .catch(error => {
             this.$toast.error(error)
        }); 

        if(departmentInput){
            this.$toast.success('Successfully Edit Department')
            this.editDpartment = null
            this.refresh()
        }
        this.isLoading = false
    },
    

    async deleteDepartment(id){
     
      if(confirm("Do you really want to delete?")){
         this.isLoading = true
      const departmentDelete= await this.$axios.$delete('/department/'+ id +  this.$store.state.auth)
        .then(function (response) {
                return response;
            })
        .catch(error => {
             this.$toast.error('Cannot Delete Department')
        }); 

        if(departmentDelete){
            this.$toast.success('Successfully Delete Department')
            this.refresh()
        }
        this.isLoading = false
      }
      
    },
  async deleteCategorie(id){
     
      if(confirm("Do you really want to delete?")){
         this.isLoading = true
      const categorieDelete= await this.$axios.$delete('/categorie/'+ id +  this.$store.state.auth)
        .then(function (response) {
                return response;
            })
        .catch(error => {
             this.$toast.error('Cannot Delete Categorie')
        }); 

        if(categorieDelete){
            this.$toast.success('Successfully Delete Categorie')
            this.refresh()
        }
        this.isLoading = false
      }
      
    },

    async editCat(computer,id,categorieText){
      this.isLoading = true
      
      this.categorieIn.computer = computer

      if(computer == false){
        this.categorieIn.computer = 0
      }
       this.categorieIn.categorieText = categorieText
      const categorie = queryString.stringify(this.categorieIn) 
      const categorieInput = await this.$axios.$put('/categorie/'+ id +  this.$store.state.auth,categorie)
        .then(function (response) {
                return response;
            })
        .catch(error => {
          console.log(error);
             this.$toast.error(error)
        }); 

        if(categorieInput){
            this.$toast.success('Successfully Edit Categorie')
            this.editcategorie = null
            this.refresh()
        }
        this.isLoading = false
    },

    async addCategorie(){
      this.isLoading = true

      if(!this.categorieInput.Input){
          this.$toast.error('Please enter Categorie')
           this.isLoading = false
      }else{
        const categorie = queryString.stringify(this.categorieInput) 
        const categorieInput = await this.$axios.$post('/categorie'+ this.$store.state.auth ,categorie)
          .then(function (response) {
                  return response;
              })
          .catch(error => {
              this.$toast.error(error)
          }); 
          if(categorieInput){
              this.$toast.success('Successfully Add Categorie')
              this.add = false
              this.categorieInput = []
              this.refresh()
          }
          this.isLoading = false
      }

    },

    async refresh(){
      const department  = await this.$axios.$get('/department'+ this.$store.state.auth)
      .catch(error => { console.log(error.response)}); 
     

      const categorie  = await this.$axios.$get('/categorie'+ this.$store.state.auth)
                  .catch(error => { console.log(error.response)});

       this.$store.commit('setdepartment' , department)
       this.$store.commit('setCategorie' , categorie)
    }
  }

}
</script>