<template>

   <b-modal size="lg" ref="myModalRef" title="Booking Asset" hide-footer @hidden="hideModal">
             <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
      <b-container fluid class="bv-example-row" v-if="showinfo == false"> 
            <no-ssr>
                <full-calendar 
                :events="events" 
                :header="calendar.header" 
                :config="calendar.config" 
                ref="calendar">
                </full-calendar>
            </no-ssr>       
        <br><br>
        <b-form-group horizontal label="Select Date Book" v-if="config != 1">
         <no-ssr>
              <date-picker v-model="dateSelect"  
              lang="en"  
              range
              type="date"
              format="YYYY-MM-DD"
              :disabled-days="disabledDate"
              :not-before="new Date()"
              confirm
               ></date-picker>
          </no-ssr>
          </b-form-group>
      </b-container>

      <b-container fluid class="bv-example-row" v-if="showinfo == true">
        <b-row>
          <b-col>
            <b-container class="bv-example-row">
             <b-row>       
                <b-col> 
                    <b-row>
                        <b-col align="center">
                            <h3> <strong> Date Booking</strong> </h3> 
                            <h3> {{ date.dateBefore }} <i class="fa fa-arrows-h fa-lg mt-4"></i>  {{date.dateAfter}}</h3> 
                            <br> 
                            <b-form-select  v-model="userId" required  v-if="profile.user_type == 'admin'">
                                <option :value="null">Please select User</option>
                                <option :value="users.id" v-for="users in users" :key="users.id">
                                    {{ users.firstname }} {{ users.lastname }}
                                </option>
                             </b-form-select>
                             <h3 v-else> Booking By : {{profile.firstname}} {{profile.lastname}}</h3>
                            <br><br>
                         </b-col>
                    </b-row>
                     <b-row >
                          <b-col>
                              <p><strong> Asset No.:</strong> {{ asset_list.asset_no }}  </p> 
                              <p><strong> Asset Year:</strong> {{ asset_list.asset_year }}  </p> 
                              <p><strong> Asset Categorie :</strong> {{ categorie.text }} </p> 
                              <p><strong> Asset Name:</strong>  {{ asset_list.asset_name }} </p>                                              
                          </b-col>
                          <b-col>
                     
                            <p><strong> Serial No. :</strong>  {{ asset_list.serial_no }} </p>
                            <p><strong> Part No. :</strong> {{ asset_list.part_no }} </p>  
                            <p><strong> Status :</strong> Available</p> 
                            <p><strong>Department :</strong>{{ department.text }} </p>   
                          </b-col>
                      </b-row>
                       <b-row >
                          <b-col>
                              <p> <strong>Description</strong></p> 
                              <p>  {{ asset_list.desc }} </p>                                               
                          </b-col>
                      </b-row>
                         <b-row >
                          <b-col>
                              <p> <strong>Comment</strong></p> 
                              <p>  {{ asset_list.comment }} </p>                                               
                          </b-col>
                      </b-row>
                </b-col>
                     </b-row>
                     <b-row >
            </b-row>
                 </b-container> 
          </b-col> 
        </b-row>
    </b-container>
    <div v-if="config != 1">
        <b-btn v-if="showinfo == true" class="mt-3" variant="success" block @click="checkUser()">Book Asset</b-btn>
        <b-btn v-else class="mt-3" variant="success" block @click="seachDate()">Next</b-btn>
    </div>
    <b-btn class="mt-3" variant="danger" block @click="hideModal">Close Me</b-btn>
  </b-modal>

</template>


<script>
import axios from 'axios'

import 'fullcalendar/dist/fullcalendar.css'
 import 'vue-loading-overlay/dist/vue-loading.css';
const queryString = require('query-string')
export default {
  props: ['dateBefore','dateAfter','config'],
  name: 'View',
   data () {
    return {
       asset_id : null,
       date:{
           dateBefore:null,
           dateAfter:null
       },
       dateSelect:null,
       asset_list:[],
       department:[],
       categorie:[],
       users:this.$store.state.list_user,
       userId:null,
       DataBooking:[],
       showinfo:false,
       events: [],
       calendar:{
           config:{
               defaultView: 'month',
           },
           header:{
               left:   'title',
               center: '',
               right:  'today prev,next'
           },
       },
       disabledDate:[],
       profile : this.$store.state.profile ,
      isLoading: false,
      fullPage: true
    }
  },
 
  methods: {
    async ModelBookAsset (id) {
        const AssetData = await this.$axios.$get('/booking/checkAsset/'+ id + this.$store.state.auth)
        .catch(error => { console.log(error.response)});
        // console.log(AssetData);
        this.asset_id = id;
        this.events = AssetData.event;
        this.disabledDate = AssetData.datelist;
        this.$refs.myModalRef.show()      
      },
      
      async seachDate(){
       try{
         var rightNow = this.dateSelect;
         var id = this.asset_id;
          if(rightNow != null){
            this.selectButton = false 
            var day = [];
            for (var i = 0; i < rightNow.length; i++) { 
                rightNow[i].setDate(rightNow[i].getDate() + 1);
                day[i] = rightNow[i].toISOString().substring(0, 10);
            }
            this.date.dateBefore = day[0]
            this.date.dateAfter = day[1]
            
            const assetSeach = await this.$axios.$get('/booking/checkDateSelect/'+ id + '/' + day[0] +'/' + day[1] + this.$store.state.auth )
                  .catch(error => {
                      console.log(error.response)
            });
            if(assetSeach){
              this.$toast.error('You have selected overlap dates')
            }
            else{
              this.$toast.success('Successfully Seach Asset ' + day[0] + ' - ' + day[1] )
              this.showinfo = true
              this.showinfoAsset();
            }
            this.dateSelect = null     
          }
          else{
            this.$toast.error('Please Select Date Book')
          }
        }
       catch (error){  
          this.$toast.error(error)
        }  
      },
      
     async showinfoAsset(){

         const AssetData = await this.$axios.$get('/asset/'+ this.asset_id + this.$store.state.auth)
        .catch(error => { console.log(error.response)});
        this.asset_list = AssetData.Asset_users[0]
        this.department = AssetData.Asset_users[0].department
        this.categorie = AssetData.Asset_users[0].asset_categorie
     },
      checkUser(){
          if(this.profile.user_type == 'employee'){
          this.userId = this.profile.id
            }
          if(this.userId == null){
              this.$toast.error('Please Select User')
          }else{
              this.BookAsset()
          } 
      },

      async BookAsset(){
        this.isLoading = true
          this.bulidData()
          const book = queryString.stringify(this.DataBooking)
          try{
              var $booking = await this.$axios.$post('/booking/' + this.$store.state.auth,book) 
               .catch(error => { 
              this.$toast.error(error)
            });
            
            this.refresh()
            this.$toast.success('Booking Success')
            this.hideModal()
            this.showinfo = false
            this.$router.back()
          }
          catch(error){
               this.$toast.error(error)
          } 
          this.isLoading = false
      },
      
      bulidData(){
          
          this.DataBooking.asset_id = this.asset_list.id
          this.DataBooking.user_id = this.userId
          this.DataBooking.book_date = this.date.dateBefore
          this.DataBooking.book_end_date = this.date.dateAfter
          this.DataBooking.status = 1
      },

     async refresh(){
           const booking  = await this.$axios.$get('/booking/' + this.$store.state.auth)
                    .catch(error => { 
                    console.log(error.response)}); 
                    // console.log(booking);

              const asset  = await this.$axios.$get('/asset' + this.$store.state.auth )
            .catch(error => { 
              console.log(error.response)
              Cookie.remove('auth');
              location.reload()});

            this.$store.commit('setSeasons', asset)     
            this.$store.commit('setAssetBooking',booking)   
      },

      hideModal () {
        this.asset_id  = null
        this.date = []
        this.dateSelect =null
        this.asset_list =[]
        this.department =[]
        this.categorie =[]
        this.userId = null
        this.DataBooking = []
        this.showinfo = false
        this.events = []
        this.disabledDate = []
      this.$refs.myModalRef.hide()
      }
  }

}
</script>